﻿@model IEnumerable<Epolis.Models.MuserGroup>

@{
    ViewData["Title"] = "Index";
    string ISACTIVE = "";

}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DAFTAR GRUP USER</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <div>
            <a asp-action="Create" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
        </div>
        <br />
        <table style="width: 100%;" id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th  style="width:10px">NO</th>
                    <th style="width:20px">
                        @Html.DisplayNameFor(model => model.USERGROUPCODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USERGROUPNAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USERGROUPDESC)
                    </th>
                    <th style="width:15px">
                        @Html.DisplayNameFor(model => model.ISACTIVE)
                    </th>
                    <th  style="width:40px">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                    List<MuserGroup> listMuserGroup = (List<MuserGroup>)ViewData["listMuserGroup"];
                    if (listMuserGroup != null)
                    {
                        foreach (var item in listMuserGroup)
                        {
                                <tr>
                                    <td style="text-align:center">
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.USERGROUPCODE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USERGROUPNAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USERGROUPDESC)
                                    </td>
                                    <td style="text-align:center">
                                        @if (item.ISACTIVE == true)
                                        {
                                            ISACTIVE = "Yes";
                                        }
                                        else
                                        {
                                            ISACTIVE = "No";
                                        }
                                        @Html.DisplayFor(modelItem => ISACTIVE)
                                    </td>
                                    <td style="text-align:center">
                                        <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit"></a> |
                                        <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-detail fa fa-eye"></a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-delete fa fa-trash" onclick="return confirm('Hapus data ini?')"></a>
                                    </td>
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
