﻿@model Epolis.Models.Mcabang
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ID = Context.Session.GetInt32("ID");
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">UBAH DATA CABANG</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <form asp-action="Edit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input asp-for="ISDELETED" hidden />
            <div class="position-relative row form-group">
                <label asp-for="KODECABANG" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    <input asp-for="KODECABANG" class="form-control" />
                    <span asp-validation-for="KODECABANG" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="NAMACABANG" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    <input asp-for="NAMACABANG" class="form-control" />
                    <span asp-validation-for="NAMACABANG" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="ALAMATCABANG" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    <input asp-for="ALAMATCABANG" class="form-control" />
                    <span asp-validation-for="ALAMATCABANG" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="KOTACABANG" class="col-sm-2 col-form-label"></label>
                <p style="color:white">*</p>
                <div class="col-sm-9">
                    <input asp-for="KOTACABANG" class="form-control" />
                    <span asp-validation-for="KOTACABANG" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="KODEZIPCABANG" class="col-sm-2 col-form-label"></label>
                <p style="color: white">*</p>
                <div class="col-sm-9">
                    <input asp-for="KODEZIPCABANG" class="form-control" />
                    <span asp-validation-for="KODEZIPCABANG" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="PICCABANG" class="col-sm-2 col-form-label"></label>
                <p style="color:white">*</p>
                <div class="col-sm-9">
                    <input asp-for="PICCABANG" class="form-control" />
                    <span asp-validation-for="PICCABANG" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="EMAILCABANG" class="col-sm-2 col-form-label"></label>
                <p style="color: white">*</p>
                <div class="col-sm-9">
                    <input asp-for="EMAILCABANG" class="form-control" />
                    <span asp-validation-for="EMAILCABANG" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="TELEPONCABANG" class="col-sm-2 col-form-label"></label>
                <p style="color: red">*</p>
                <div class="col-sm-9">
                    <input asp-for="TELEPONCABANG" class="form-control" />
                    <span asp-validation-for="TELEPONCABANG" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="ISHEADOFFICE" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <p style="color:white"></p>
                <div class="col-sm-2">
                    <select asp-for="ISHEADOFFICE" class="form-control">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    <span asp-validation-for="ISHEADOFFICE" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group" hidden>
                <label asp-for="UPDATEDTIME" class="col-sm-2 col-form-label"></label>
                <p style="color:red"> </p>
                <div class="col-sm-9">
                    <input asp-for="UPDATEDTIME" class="form-control" value="@DateTime.Now" />
                    <span asp-validation-for="UPDATEDTIME" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group" hidden>
                <label asp-for="UPDATEDBYID" class="col-sm-2 col-form-label"></label>
                <p style="color:red"></p>
                <div class="col-sm-9">
                    <input asp-for="UPDATEDBYID" class="form-control"  value="@ViewBag.ID"/>
                    <span asp-validation-for="UPDATEDBYID" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">
                    @Html.DisplayNameFor(model => model.ISACTIVE)
                </label>
                <p style="color:white">*</p>
                <div class="col-sm-2">
                    <select asp-for="ISACTIVE" class="form-control">
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                    @*<input   />*@
                    <span asp-validation-for="ISACTIVE" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-check">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-save pull-right">Simpan</button>
                </div>
            </div>
        </form>
        <a asp-action="Index" class="btn btn-dark pull-left">Kembali</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}