﻿@model IEnumerable<Epolis.Models.Mcabang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ISHEADOFFICE = "";
    string ISACTIVE = "";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DAFTAR CABANG</div>
    </div>
</div>

<div class="main-card card col-12">
    <div class="card-body">
        <div>
            <a asp-action="Create" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
        </div>
        <br />
        <table style="width: 100%;" id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                      No
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KODECABANG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMACABANG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PICCABANG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMAILCABANG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TELEPONCABANG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISHEADOFFICE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISACTIVE)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                    List<Mcabang> listMcabang = (List<Mcabang>)ViewData["listMcabang"];
                    if (listMcabang != null)
                    {
                        foreach (var item in listMcabang)
                        {
                                <tr>
                                    <td style="text-align:center">
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.KODECABANG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NAMACABANG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PICCABANG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EMAILCABANG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TELEPONCABANG)
                                    </td>
                                    <td style="text-align:center;width:15px">
                                        @if (item.ISHEADOFFICE == 1)
                                        {
                                            ISHEADOFFICE = "Yes";
                                        }
                                        else
                                        {
                                            ISHEADOFFICE = "No";
                                        }
                                        @Html.DisplayFor(modelItem => ISHEADOFFICE)
                                    </td>
                                    <td style="text-align:center;width:15px">
                                        @if (item.ISACTIVE == true)
                                        {
                                            ISACTIVE = "Yes";
                                        }
                                        else
                                        {
                                            ISACTIVE = "No";
                                        }
                                        @Html.DisplayFor(modelItem => ISACTIVE)
                                    </td>
                                    <td style="text-align:center">
                                        <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit" id=""></a> |
                                        <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-detail fa fa-eye"></a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-delete fa fa-trash" onclick="return confirm('Hapus data ini?')"></a>
                                    </td>
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>