﻿<script type="text/javascript">

    var TableObyekPertanggunganBelumDiasuransikan;
    var TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis;
    var TableOutstandingPremi;
    var TablePremiTelahLunas;
    var TablePremiBelumDibayarkan;

    $(document).ready(function () {
        LoadDataTableObyekPertanggunganBelumDiasuransikan();
    });

    function LoadDataTableObyekPertanggunganBelumDiasuransikan(data) {
        TableObyekPertanggunganBelumDiasuransikan = $('#TableObyekPertanggunganBelumDiasuransikan').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Monitoring/LoadTableObyekPertanggunganBelumDiasuransikan")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><button class="btn btn-edit fa fa-eye" id="button-eye" onclick="ViewObyekPertanggunganBelumDiasuransikan(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"> Lihat Data</button>'
                }
            },
            { responsivePriority: 3, "data": "tanggalPK", "name": "tanggalPK" },
            { responsivePriority: 4, "data": "noPK", "name": "noPK" },
            { responsivePriority: 5, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 6, "data": "totalPertanggunganText", "name": "totalPertanggunganText" },
            { responsivePriority: 7, "data": "cif", "name": "cif" },
            { responsivePriority: 8, "data": "namaRM", "name": "namaRM" },
            { responsivePriority: 9, "data": "alasan", "name": "alasan" }

        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TableObyekPertanggunganBelumDiasuransikan').DataTable();
        $('#BtnSearch').click(function () {
            TableObyekPertanggunganBelumDiasuransikan.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableObyekPertanggunganBelumDiasuransikan.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableObyekPertanggunganBelumDiasuransikan.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableObyekPertanggunganBelumDiasuransikan.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableObyekPertanggunganBelumDiasuransikan.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableObyekPertanggunganBelumDiasuransikan.draw();
        });

        TableObyekPertanggunganBelumDiasuransikan.columns.adjust().responsive.recalc();
    }
    function LoadDataTableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis(data) {
        TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis = $('#TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Monitoring/LoadTableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            { responsivePriority: 2, "data": "periodeJatuhTempo", "name": "periodeJatuhTempo" },
            { responsivePriority: 3, "data": "noPolisLama", "name": "noPolisLama" },
            { responsivePriority: 4, "data": "noPolisBaru", "name": "noPolisBaru" },
            { responsivePriority: 5, "data": "namaTertanggung", "name": "namaTertanggung" },
            { responsivePriority: 6, "data": "tsiText", "name": "tsiText" },
            { responsivePriority: 7, "data": "premiText", "name": "premiText" },
            { responsivePriority: 8, "data": "namaAsuransi", "name": "namaAsuransi" },
            { responsivePriority: 9, "data": "rmPengelola", "name": "rmPengelola" },
            { responsivePriority: 10, "data": "status", "name": "status" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis').DataTable();
        $('#BtnSearch').click(function () {
            TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableObyekPertanggunganBelumDiasuransikan.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis.draw();
        });

        TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis.columns.adjust().responsive.recalc();
    }
    function LoadDataTableOutstandingPremi(data) {
        TableOutstandingPremi = $('#TableOutstandingPremi').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Monitoring/LoadDataTableOutstandingPremi")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            { responsivePriority: 2, "data": "tglPolis", "name": "tglPolis" },
            { responsivePriority: 3, "data": "namaAsuransi", "name": "namaAsuransi" },
            { responsivePriority: 4, "data": "noPolisLama", "name": "noPolisLama" },
            { responsivePriority: 5, "data": "namaNasabah", "name": "namaNasabah" },
            { responsivePriority: 6, "data": "tagihanPremiText", "name": "tagihanPremiText" },
            { responsivePriority: 7, "data": "sudahDibayarkanText", "name": "sudahDibayarkanText" },
            { responsivePriority: 8, "data": "belumDibayarkanText", "name": "belumDibayarkanText" },
            { responsivePriority: 9, "data": "tanggalSudahBayar", "name": "tanggalSudahBayar" },
            { responsivePriority: 10, "data": "rmPengelola", "name": "rmPengelola" },
            { responsivePriority: 11, "data": "status", "name": "status" },
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TableOutstandingPremi').DataTable();
        $('#BtnSearch').click(function () {
            TableOutstandingPremi.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableOutstandingPremi.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableObyekPertanggunganBelumDiasuransikan.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableOutstandingPremi.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableOutstandingPremi.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableOutstandingPremi.draw();
        });

        TableOutstandingPremi.columns.adjust().responsive.recalc();
    }
    function LoadDataTablePremiTelahLunas(data) {
        TablePremiTelahLunas = $('#TablePremiTelahLunas').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Monitoring/LoadDataTablePremiTelahLunas")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            { responsivePriority: 2, "data": "tanggal", "name": "tanggal" },
            { responsivePriority: 3, "data": "namaAsuransi", "name": "namaAsuransi" },
            { responsivePriority: 4, "data": "noPolisLama", "name": "noPolisLama" },
            { responsivePriority: 5, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 6, "data": "tagihanPremiText", "name": "tagihanPremiText" },
            { responsivePriority: 7, "data": "tanggalBayar", "name": "tanggalBayar" },
            { responsivePriority: 8, "data": "jenisPembayaran", "name": "jenisPembayaran" },
            { responsivePriority: 9, "data": "status", "name": "status" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TablePremiTelahLunas').DataTable();
        $('#BtnSearch').click(function () {
            TablePremiTelahLunas.columns(2).search($('#txtTipeSearchParam').val().trim());
            TablePremiTelahLunas.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TablePremiTelahLunas.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TablePremiTelahLunas.columns(2).search($('#txtTipeSearchParam').val().trim());
            TablePremiTelahLunas.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TablePremiTelahLunas.draw();
        });

        TablePremiTelahLunas.columns.adjust().responsive.recalc();
    }
    function LoadDataTablePremiBelumDibayarkan(data) {
        TablePremiBelumDibayarkan = $('#TablePremiBelumDibayarkan').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Monitoring/LoadDataTablePremiBelumDibayarkan")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><button class="btn btn-edit fa fa-eye" id="button-eye" onclick="ViewPremiBelumDibayarkan(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"> Lihat Data</button>'
                }
            },
            { responsivePriority: 3, "data": "tanggalJatuhTempo", "name": "tanggalJatuhTempo" },
            { responsivePriority: 4, "data": "noPolisLama", "name": "noPolisLama" },
            { responsivePriority: 5, "data": "namaNasabah", "name": "namaNasabah" },
            { responsivePriority: 6, "data": "totalPertanggunganText", "name": "totalPertanggunganText" },
            { responsivePriority: 7, "data": "premiBelumDibayarText", "name": "premiBelumDibayarText" },
            { responsivePriority: 8, "data": "namaAsuransi", "name": "namaAsuransi" },
            { responsivePriority: 9, "data": "rmPengelola", "name": "rmPengelola" },
            { responsivePriority: 10, "data": "alasan", "name": "alasan" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TablePremiBelumDibayarkan').DataTable();
        $('#BtnSearch').click(function () {
            TablePremiBelumDibayarkan.columns(2).search($('#txtTipeSearchParam').val().trim());
            TablePremiBelumDibayarkan.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TablePremiBelumDibayarkan.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TablePremiBelumDibayarkan.columns(2).search($('#txtTipeSearchParam').val().trim());
            TablePremiBelumDibayarkan.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TablePremiBelumDibayarkan.draw();
        });

        TablePremiBelumDibayarkan.columns.adjust().responsive.recalc();
    }


    function TriggerLoadDataTableObyekPertanggunganBelumDiasuransikan() {
        $('#TableObyekPertanggunganBelumDiasuransikan').DataTable().destroy();
        LoadDataTableObyekPertanggunganBelumDiasuransikan();
        $('#TableObyekPertanggunganBelumDiasuransikan').DataTable().ajax.reload();
    }
    function TriggerLoadTableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis() {
        $('#TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis').DataTable().destroy();
        LoadDataTableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis();
        $('#TableDaftarPolisJatuhTempoYangTelahDiperpanjangOtomatis').DataTable().ajax.reload();
    }
    function TriggerLoadDataTableOutstandingPremi() {
        $('#TableOutstandingPremi').DataTable().destroy();
        LoadDataTableOutstandingPremi();
        $('#TableOutstandingPremi').DataTable().ajax.reload();
    }
    function TriggerLoadDataTablePremiTelahLunas() {
        $('#TablePremiTelahLunas').DataTable().destroy();
        LoadDataTablePremiTelahLunas();
        $('#TablePremiTelahLunas').DataTable().ajax.reload();
    }
    function TriggerLoadDataTablePremiBelumDibayarkan() {
        $('#TablePremiBelumDibayarkan').DataTable().destroy();
        LoadDataTablePremiBelumDibayarkan();
        $('#TablePremiBelumDibayarkan').DataTable().ajax.reload();
    }

    function ViewObyekPertanggunganBelumDiasuransikan(id) {
        debugger;
        SearchData = { "Id": id }
        UrlPartialView = '@Url.Content("~/Monitoring/ViewLoadTableObyekPertanggunganBelumDiasuransikan")';
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false
            });
        }, SearchData);
    }
    function ViewPremiBelumDibayarkan(id) {
        debugger;
        SearchData = { "Id": id }
        UrlPartialView = '@Url.Content("~/Monitoring/ViewPremiBelumDibayarkasn")';
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false
            });
        }, SearchData);
    }






</script>