﻿@model Epolis.Models.MpremiBelumDibayarkan
<style>
    .modal-dialog {
        min-width: 900px;
    }

    .select2 {
        width: 100% !important;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">View Premi Belum Dibayarkan</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" id="id-body">
    <form id="FormObyekPertanggunganBelumDiasuransikan" style="padding-top:20px;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-5 col-form-label">Nomor Polis </label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.NoPolisLama, new { @class = "form-control", @value = "", @autocomplete = "off", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-5 col-form-label">Nama Tertanggung / Debitur </label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.NamaNasabah, new { @class = "form-control", @value = "", @autocomplete = "off", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-6 col-form-label">Alasan Belum Ditutup Asuransi </label>
                <div class="input-group">
                    @Html.TextAreaFor(m => m.Alasan, new { @class = "form-control", @value = "", @autocomplete = "off", disabled = "disabled" })
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
    </div>
</div>







