﻿@model IEnumerable<Epolis.Models.MperluasanVM>

@{
    ViewData["Title"] = "Index";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DAFTAR PERLUASAN</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <div>
            <a asp-action="Create" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
        </div>
        <br />
        <table style="width: 100%;" id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>
                        KODE OKUPASI
                    </th>
                    <th>
                       KODE PERLUASAN
                    </th>
                    <th>
                        DESKRIPSI
                    </th>
                    <th>
                        RATE PERLUASAN
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                    List< MperluasanVM> listMperluasan = (List<MperluasanVM>)ViewData["listMperluasan"];
                    if (listMperluasan != null)
                    {
                        foreach (var item in listMperluasan)
                        {
                                <tr>
                                    <td style="text-align:center;width:10px">
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td  style="width: 15px;text-align: center">
                                        @Html.DisplayFor(modelItem => item.KODEOKUPASI)
                                    </td>
                                    <td  style="width: 15px;text-align: center">
                                        @Html.DisplayFor(modelItem => item.KODEPERLUASAN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DESKRIPSI)
                                    </td>
                                    <td style="width: 15px;text-align: center">
                                        @Html.DisplayFor(modelItem => item.RATEPERLUASAN)
                                    </td>

                                    <td style="text-align:center">
                                        <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit"></a> |
                                        <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-detail fa fa-eye"></a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-delete fa fa-trash" onclick="return confirm('Hapus data ini?')"></a>
                                    </td>
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>