﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.IO;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;
@model Epolis.Models.M_KlaimKerugian;

<div class="row" style="padding-top: 20px;">
    <div class="main-card mb-3 card" style="width: 100%">
        <div class="col-lg-12">
            <div class="headerSearch">
                Approval
            </div>
            <div class="card-body">
                <form id="formKlaim">
                    @Html.AntiForgeryToken()
                    @if (Context.Session.GetString("USERGROUPCODE") == "IUB")
                    {
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Reviewer</label>
                                <div class="input-group">
                                    <select class="js-example-placeholder-multiple js-states form-control" id="Id_Reviewer" name="IdReviewer" style="width:100%"></select>
                                    @Html.HiddenFor(m => m.Id_Reviewer)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Approver</label>
                                <div class="input-group">
                                    <select class="js-example-placeholder-multiple js-states form-control" id="Id_Approver" name="IdApprover" style="width:100%"></select>
                                    @Html.HiddenFor(m => m.Id_Approver)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Inputer ADK</label>
                                <div class="input-group">
                                    <select class="js-example-placeholder-multiple js-states form-control" id="Id_InputerADK" name="IdInputerADK" style="width:100%"></select>
                                    @Html.HiddenFor(m => m.Id_InputerADK)
                                </div>
                            </div>
                        </div>
                    }
                    @if (Context.Session.GetString("USERGROUPCODE") == "ADM")
                    {
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Reviewer</label>
                                <div class="input-group">
                                    <select class="js-example-placeholder-multiple js-states form-control" id="Id_Reviewer" name="IdReviewer" style="width:100%"></select>
                                    @Html.HiddenFor(m => m.Id_Reviewer)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Approver</label>
                                <div class="input-group">
                                    <select class="js-example-placeholder-multiple js-states form-control" id="Id_Approver" name="IdApprover" style="width:100%"></select>
                                    @Html.HiddenFor(m => m.Id_Approver)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Inputer ADK</label>
                                <div class="input-group">
                                    <select class="js-example-placeholder-multiple js-states form-control" id="Id_InputerADK" name="IdInputerADK" style="width:100%"></select>
                                    @Html.HiddenFor(m => m.Id_InputerADK)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Reviewer ADK</label>
                                <div class="input-group">
                                    <select class="js-example-placeholder-multiple js-states form-control" id="Id_ReviewerADK" name="ReviewerADK" style="width:100%"></select>
                                    @Html.HiddenFor(m => m.Id_ReviewerADK)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Approver ADK</label>
                                <div class="input-group">
                                    <select class="js-example-placeholder-multiple js-states form-control" id="Id_ApproverADK" name="ApproverADK" style="width:100%"></select>
                                    @Html.HiddenFor(m => m.Id_ApproverADK)
                                </div>
                            </div>
                        </div>
                    }
                </form>
                <div class="form-group row m-b-15">
                    <div class="col-md-12">
                        <label class="col-md-3 col-form-label">Catatan<span class="labelMandatory">*</span></label>
                        <div class="input-group">
                            <textarea class="form-control" id="komentar"></textarea>
                            @*@Html.TextAreaFor(m => m.Komentar, new { @class = "form-control" })*@
                        </div>
                        <div id="errorKomentar" style="color:red; display:none">Harap mengisi komentar</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @if (Context.Session.GetString("USERGROUPCODE") == "ADM")
                {
                    <a href="javascript:;" onclick="BackDraft()" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    <a href="javascript:;" class="btn btn-sm btn-outline-success" id="BtnRejectKlaim" onclick="saveAsDraftKlaim()">Save As Draft</a>
                    <a href="javascript:;" class="btn btn-sm btn-danger" id="BtnRejectKlaim" onclick="rejectKlaim()">Reject Klaim</a>
                    <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnApproveKlaim" onclick="approveKlaim()">Approve Klaim</a>
                    <a href="javascript:;" class="btn btn-sm btn-success" id="BtnSubmitKlaim" onclick="submitKlaim()">Submit Klaim</a>
                }
                @if (Context.Session.GetString("USERGROUPCODE") == "IUB")
                {
                    <a href="javascript:;" class="btn btn-sm btn-outline-success" id="BtnRejectKlaim" onclick="saveAsDraftKlaim()">Save As Draft</a>
                    <a href="javascript:;" class="btn btn-sm btn-success" id="BtnSubmitKlaim" onclick="submitKlaim()">Submit Klaim</a>
                }
            </div>
        </div>
    </div>
</div>