﻿@model Epolis.Models.M_KlaimKerugian;

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Create Data Klaim
            </div>
            <br />
            <div id="smartwizard">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#step-1">
                            <strong>Step 1</strong><br>Create Klaim
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#step-2">
                            <strong>Step 2</strong><br>Approval
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="height: auto !important">
                    <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                        @* Partial Table Polis *@
                        @{ Html.RenderPartial("_Create_IndexTablePenutupan"); }
                        @* Partial Table Polis *@
                        <div class="card-body" style="padding:20px">
                            <a href="#" class="btn btn-outline-success"><span class="fa fa-download"></span> Download Persyaratan Klaim</a>
                            <hr />
                            <form id="form_createKlaim">
                                @*<div class="form-group row m-b-15">
                                        <label class="col-md-3 col-form-label">Lokasi Objek Pertanggungan <span class="labelMandatory">*</span></label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input class="form-control" disabled />
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="form-group row m-b-15">
                                    <label class="col-md-3 col-form-label">TSI/Total Harga Pertanggungan<span class="labelMandatory">*</span></label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @*<input id="totalPertanggungan" class="form-control" disabled />*@
                                            @Html.TextBoxFor(m => m.TotalNilaiPertanggungan, new { @class = "form-control", @disabled = "disable" })
                                        </div>
                                    </div>
                                </div>
                            </form>
                            @* ==================== OBJEK PERTANGGUNGAN ==================== *@
                            @{Html.RenderPartial("_Create_IndexTableObjekPertanggungan");}
                            @* ==================== OBJEK PERTANGGUNGAN ==================== *@

                            @* ==================== DATA PENDUKUNG ==================== *@
                            @*@{Html.RenderPartial("_Create_IndexTableDataPendukung");}*@
                            @* ==================== DATA PENDUKUNG ==================== *@

                        </div>
                    </div>
                    <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                        @{
                            Html.RenderPartial("_Create_TabApproval");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

