﻿<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Komentar Submit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="col-md-12 row">
        <div class="input-group">
            <textarea class="form-control" id="komentarKlaim"></textarea>
        </div>
        <div id="errorKomentarKlaim" style="color:red; display:none">Harap mengisi komentar</div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-white" data-dismiss="modal" id="closeSubModal">Close</a>
    <a class="btn btn-success" href="javascript:;" onclick="submitKomentarKlaim()">Submit</a>
</div>