﻿@model Epolis.Models.M_KlaimObjekPertanggungan;
<style>
    .modal-dialog {
        min-width: 900px;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">Klaim Objek Pertanggungan</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" id="id-body">
    <form id="Form_KlaimObjekPertanggungan">
        @Html.AntiForgeryToken()
        @{
            if (Model != null)
            {
                //Ketika Sudah di Create
                @Html.HiddenFor(m => m.Id)
                <div class="card-body" style="margin:20px">
                    <div class="form-group row m-b-15 ">
                        <label class="col-md-4 col-form-label">Status Klaim</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                @Html.RadioButtonFor(m => m.StatusObjekKlaim, true, new { @onchange = "cekStatusKlaimObjek()" }) &nbsp; Ya
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(m => m.StatusObjekKlaim, false, new { @onchange = "cekStatusKlaimObjek()" }) &nbsp; Tidak
                                @*@Html.RadioButtonFor(m => m.StatusObjekKlaim, false, new {@class="cekStatusObjek", @onchange = "cekStatusKlaimObjek()", @checked="false" }) &nbsp; Tidak*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Tanggal Kejadian</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" type="date" />*@
                                @Html.TextBoxFor(m => m.TanggalKejadian, "{0:yyyy-MM-dd}", new { @class = "form-control", @value = "", @autocomplete = "off", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Taksiran Kerugian</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(m => m.TaksiranKerugian, new { @class = "form-control", @value = "", @autocomplete = "off", @type = "number", @min = "0" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Penyebab Kejadian</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(m => m.PenyebabKejadian, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Kronologis Kejadian Sebagai Dasar Klaim</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(m => m.KronologisKejadian, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Catatan Dari Bank</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(m => m.CatatanDariBank, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    @{Html.RenderPartial("_Create_IndexTableDataPendukung");}
                </div>
            }
            else
            {
                //Ketika Belum di Create
                <div class="card-body" style="margin:20px">
                    <div class="form-group row m-b-15 ">
                        <label class="col-md-4 col-form-label">Status Klaim</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="StatusObjekKlaim" name="StatusObjekKlaim" value="true" onchange="cekStatusKlaimObjek()" >Ya 
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="StatusObjekKlaim" name="StatusObjekKlaim" value="false" onchange="cekStatusKlaimObjek()" checked>Tidak
                                    </label>
                                </div>
                                @*@Html.RadioButtonFor(m => m.StatusObjekKlaim, true, new { @onchange = "cekStatusKlaimObjek()" }) &nbsp; Ya
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(m => m.StatusObjekKlaim, false, new { @onchange = "cekStatusKlaimObjek()"}) &nbsp; Tidak*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Tanggal Kejadian</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" type="date" />*@
                                @Html.TextBoxFor(m => m.TanggalKejadian, "{0:yyyy-MM-dd}", new { @class = "form-control", @value = "", @autocomplete = "off", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Taksiran Kerugian</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(m => m.TaksiranKerugian, new { @class = "form-control", @value = "", @autocomplete = "off", @type = "number", @min = "0" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Penyebab Kejadian</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(m => m.PenyebabKejadian, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Kronologis Kejadian Sebagai Dasar Klaim</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(m => m.KronologisKejadian, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Catatan Dari Bank</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(m => m.CatatanDariBank, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    @{Html.RenderPartial("_Create_IndexTableDataPendukung");}
                </div>
            }
        }
    </form>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal" id="closeModal">Close</a>
        <a href="javascript:;" class="btn btn-sm btn-success" id="BtnSubmitObyekPertanggungan" onclick="simpanObjekPertanggungan()">Simpan</a>
    </div>
</div>

