﻿<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Upload Data Pendukung</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        @Html.AntiForgeryToken()
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label">Upload File</label>
            <p style="color:red">*</p>
            <div class="col-sm-9">
                <input type="file" class="custom-file-input form-control" style="position:fixed!important" id="inputDataPendukung" name="file" aria-describedby="inputGroupFile" onchange="inputGroupFilePendukung()">
                <label class="custom-file-label form-control" style="position:relative !important" for="inputDataPendukung" id="labelFilePendukung">Choose File</label>
            </div>
            @*<label style="color: red;" hidden>File Tidak Sesuai</label>*@
            <div id="warning" style="display:none">
                <div class="form-group">
                    <div style="padding: 1px;">
                        <p class="col-sm-12 col-form-label" style="color:red; ">*Besar File Maximum untuk Upload 2000 KB</p>
                        <p class="col-sm-12 col-form-label" style="color:red; ">*Jenis File yang di perbolehkan untuk Upload PDF</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label">Komentar</label>
            <p style="color:red">*</p>
            <div class="col-sm-9">
                <div class="input-group">
                    <textarea class="form-control" id="komentar"></textarea>
                    @*@Html.TextAreaFor(model => model.komentar, new { @class = "form-control", @rows = 6 });*@
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-light" id="subModalClose" data-dismiss="modal">Close</button>
    <button type="button" id="btnUpload" class="btn btn-success" onclick="uploadDataPendukung()">Upload</button>
</div>