﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Epolis.Component
@using Microsoft.AspNetCore.Http;

@{
    var token = Context.Session.GetString(SessionConstan.Session_Tokken);
    var role = Context.Session.GetString(SessionConstan.Session_Usergroupcode);
    var apiUploadFilePendukung = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:uploadDataPendukungObjekKlaim"];
    var apiDeleteFilePendukung = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:deleteDataPendukungObjekKlaim"];
    var apiSubmitKlaimObjek = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:submitKlaimObjek"];
    var apiSubmitKlaim = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:submitKlaim"];
    var apiApproveKlaim = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:approveKlaim"];
    var apiRejectKlaim = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:rejectKlaim"];
    var apiSaveAsDraftKlaim = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:draftKlaim"];
}
<script>

    var State = '';
    var IdKlaim = '';
    var IdPenutupan = '';
    var IdObjekPertanggungan = '';
    var TotalPertanggungan = '';
    var TableKlaim;
    var TableKlaimProses;
    var TablePenutupan;
    var TablePenutupanProses;
    var TableObjekPertanggungan;
    var TableObjekPertanggunganProses;
    var TableFilePendukung;
    var TableFilePendukungProses;
    var TableHistory;


    $(document).ready(function () {
        LoadDataTable_KlaimKerugian();
        LoadDataTable_KlaimKerugian_Proses();
    });

    function LoadDataTable_KlaimKerugian(data) {
        TableKlaim = $('#table_indexKlaimKerugian').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTableKlaim")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><button class="btn btn-edit fa fa-edit" id="button-edit" onclick="EditKlaim(' + full.id + ', ' + full.id_Penutupan + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"> Ubah Data</button>'
                }
            },
            { responsivePriority: 3, "data": "lokasiObjekPertanggungan", "name": "lokasiObjekPertanggungan" },
            { responsivePriority: 4, "data": "totalNilaiPertanggungan", "name": "totalNilaiPertanggungan" },
            { responsivePriority: 5, "data": "taksiranKerugian", "name": "taksiranKerugian" },
            { responsivePriority: 6, "data": "id_Reviewer", "name": "id_Reviewer" },
            { responsivePriority: 7, "data": "id_Approver", "name": "id_Approver" },
            { responsivePriority: 8, "data": "id_InputerAdk", "name": "id_InputerAdk" },
            { responsivePriority: 9, "data": "id_Status", "name": "id_Status" },
            { responsivePriority: 10, "data": "id_ReviewerAdk", "name": "id_ReviewerAdk" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#table_indexKlaimKerugian').DataTable();
        $('#BtnSearchEndorsement').click(function () {
            TableKlaim.columns(2).search($('#txtTipeSearchParamEndorsement').val().trim());
            TableKlaim.columns(3).search($('#txtNamaSearchParamEndorsement').val().trim());

            //hit search ke server
            TableKlaim.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearchEndorsement').click(function () {
            $('#txtTipeSearchParamEndorsement').val("");
            $('#txtNamaSearchParamEndorsement').val("");

            TableKlaim.columns(2).search($('#txtTipeSearchParamEndorsement').val().trim());
            TableKlaim.columns(3).search($('#txtNamaSearchParamEndorsement').val().trim());

            //hit search ke server
            TableKlaim.draw();
        });

        TableKlaim.columns.adjust().responsive.recalc();
    }
    function LoadDataTable_Penutupan(data) {
        TablePenutupan = $('#TablePenutupan').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTablePenutupan")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    //debugger;
                    //var str = full.nomorPolisLama;
                    //var str2 = full.noPK
                    //if (str != null) {
                    //    var NPlama = str.replaceAll(".", "!");
                    //}
                    //if (str2 != null) {
                    //    var noPK = str2.replaceAll(" ", "!");
                    //}
                    //Eko
                    var valTSITotalPertanggungan = full.totalpertanggungan

                    return '<a href="javascript:void(0)" class="btn btn-lg btn-success" onclick=GetDataPenutupan("' + full.id + '","' + valTSITotalPertanggungan + '") style="margin-right:5px;"data-toggle="tooltip" title="Ubah Data"> Pilih </a>'
                }
            },
            { responsivePriority: 3, "data": "tglinput", "name": "tglinput",  },
            { responsivePriority: 4, "data": "nopolis", "name": "nopolis","defaultContent" : '-' },
            { responsivePriority: 5, "data": "cif", "name": "cif" },
            { responsivePriority: 6, "data": "namadebitur", "name": "namadebitur" },
            { responsivePriority: 7, "data": "totalpertanggungan", "name": "totalpertanggungan" },
            { responsivePriority: 8, "data": "namaunit", "name": "namaunit" },//Tidak ada balikan di service untuk Kolom Nama RM
            {
                responsivePriority: 9, "data": "statuspremi", "name": "statuspremi",
                "render": function (data, type, full, meta) {
                    if (data == true) {
                        return '<p class="mt-2 btn btn-primary disabled"><b> Lunas </b></p>'
                    }
                    else {
                        return '<p class="mt-2 btn btn-danger disabled"><b> Tidak </b></p>'
                    }
                }
            },
            //{ responsivePriority: 10, "data": "statusklaim", "name": "statusklaim" },
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TablePenutupan').DataTable();
        $('#BtnSearchPolis').click(function () {
            TablePenutupan.columns(2).search($('#txtTipeSearchParamPolis').val().trim());
            TablePenutupan.columns(3).search($('#txtNamaSearchParamPolis').val().trim());


            //hit search ke server
            TablePenutupan.draw();
        });


        //---------------------FunctioapiApproveKlaimApproveKlaim untuk reset data pencarian----------------//
        $('#BtnClearSearchPolis').click(function () {
            $('#txtTipeSearchParamPolis').val("");
            $('#txtNamaSearchParamPolis').val("");

            TablePenutupan.columns(2).search($('#txtTipeSearchParamPolis').val().trim());
            TablePenutupan.columns(3).search($('#txtNamaSearchParamPolis').val().trim());
            //hit search ke server
            TablePenutupan.draw();
        });

        TablePenutupan.columns.adjust().responsive.recalc();
    }
    function LoadDataTable_ObjekPertanggungan(data) {
        TableObjekPertanggungan = $('#table_ObjekPertanggungan').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTableObjekPertanggungan")',
            "type": "POST",
            "datatype": "json",
            "data": { "id": data },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2, "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-lg btn-success" id="button-edit" onclick="KlaimObjek(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><span class="fa fa-edit"></span> Klaim </a></div>'
                },
                //{ responsivePriority: 6, "data": "isDitutupAsuransi", "name": "isDitutupAsuransi" }
            },
            { responsivePriority: 3, "data": "namatertanggung", "name": "namatertanggung"},
            { responsivePriority: 4, "data": "matauang", "name": "matauang" },
            { responsivePriority: 5, "data": "jumlahpertanggungan", "name": "jumlahpertanggungan" },
            {
                responsivePriority: 6, "data": "statusObjekKlaim", "name": "statusObjekKlaim",
                "render": function (data, type, full, meta) {
                    if (data == true ) {
                        return '<p class="mt-2 btn btn-primary disabled"><b> Ya </b></p>'
                    }
                    else {
                        return '<p class="mt-2 btn btn-danger disabled"><b> Tidak </b></p>'
                    }
                }
            },

        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            TableObjekPertanggungan.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableObjekPertanggungan.columns(3).search($('#txtNamaSearchParam').val().trim());


            //hit search ke server
            TableObjekPertanggungan.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableObjekPertanggungan.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableObjekPertanggungan.columns(3).search($('#txtNamaSearchParam').val().trim());
            //hit search ke server
            TableObjekPertanggungan.draw();
        });

        TableObjekPertanggungan.columns.adjust().responsive.recalc();
    }
    function LoadDataTable_FilePendukung(data) {
        TableFilePendukung = $('#table_FilePendukung').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTableFilePendukung")',
            "type": "POST",
            "datatype": "json",
            "data": { "id": data },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
                var a = jqXHR;
                var b = textStatus;
                //window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    debugger;
                    return '<div class="btn-group"><a href="' + full.downloadPath +'" class="btn btn-lg btn-success" style="margin-right:5px;" data-toggle="tooltip" title="Download File"><span class="fa fa-download"></span> Download </a>'
                        + '<a href="javascript:void(0)" class="btn btn-lg btn-danger" onclick="DeleteFilePendukung(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"> <span class="fa fa-trash"></span> Delete </a></div>'
                }
            },
            { responsivePriority: 3, "data": "fileName", "name": "fileName" },
            { responsivePriority: 5, "data": "fileType", "name": "fileType" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            TableFilePendukung.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableFilePendukung.columns(3).search($('#txtNamaSearchParam').val().trim());


            //hit search ke server
            TableFilePendukung.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableFilePendukung.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableFilePendukung.columns(3).search($('#txtNamaSearchParam').val().trim());
            //hit search ke server
            TableFilePendukung.draw();
        });

        TableFilePendukung.columns.adjust().responsive.recalc();
    }

    function Modal_UploadPendukung() {
        UrlPartialView = '@Url.Content("~/Klaim/M_UploadDataPendukung")';
        LoadPartialViewData(UrlPartialView, function (data) {
            //Open Modal Form - Input Data
            var subModalbody = $('#LoadContentSubModal');
            subModalbody.html(data);
            $('#SubModal').modal({
                backdrop: 'static',
                keyboard: false,
            });
        },);
    }
    function KlaimObjek(id_objek) {
        debugger;
        IdObjekPertanggungan = id_objek
        SearchData = {'Id_Objek' : id_objek}
        UrlPartialView = '@Url.Content("~/Klaim/M_DetailObjekPertanggungan_Klaim")';
        LoadPartialViewData(UrlPartialView, function (data) {
            //Open Modal Form - Input Data
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false,
            });
            debugger;
            cekStatusKlaimObjek();
            LoadDataTable_FilePendukung(IdObjekPertanggungan);
        }, SearchData);
    }
    function cekStatusKlaimObjek() {
        debugger;
        if (document.getElementById("StatusObjekKlaim").checked == true) {
            $("#TanggalKejadian").prop("disabled", false);
            $("#TaksiranKerugian").prop("disabled", false);
            $("#PenyebabKejadian").prop("disabled", false);
            $("#KronologisKejadian").prop("disabled", false);
            $("#CatatanDariBank").prop("disabled", false);
        } else {
            //document.getElementById("StatusObjekKlaim").checked = false;
            //var isiStatus = $("#StatusObjekKlaim").val()
            //$('input:radio:first').attr('checked', false);
            //$("#StatusObjekKlaim").prop('checked',false)
            $("#TanggalKejadian").prop("disabled", true);
            $("#TaksiranKerugian").prop("disabled", true);
            $("#PenyebabKejadian").prop("disabled", true);
            $("#KronologisKejadian").prop("disabled", true);
            $("#CatatanDariBank").prop("disabled", true);
            $("#TanggalKejadian").val("");
            $("#TaksiranKerugian").val("");
            $("#PenyebabKejadian").val("");
            $("#KronologisKejadian").val("");
            $("#CatatanDariBank").val("");
        }
    }

    function simpanObjekPertanggungan() {
        $.ajax({
            url: '@apiSubmitKlaimObjek',
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer @token');
            },
                type: 'POST',
                data: $('#Form_KlaimObjekPertanggungan').serialize() +"&IdObjekPenutupan=" + IdObjekPertanggungan,
            success: function (d) {
                debugger;
                //Tampilkan alert status
                if (d.code == 1) {
                    NotifikasiSukses("Sukses", "Data berhasil di submit !");
                    $('#closeModal').click();
                    $('#table_ObjekPertanggungan').DataTable().destroy();
                    LoadDataTable_ObjekPertanggungan(IdPenutupan);
                } else {
                    NotifikasiSukses("Error", "Data Gagal di submit !");
                }
            }
            });
            return false;
    }
    function CreateKlaim() {
        UrlPartialView = '@Url.Content("~/Klaim/Create_KlaimKerugian")';
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
            LoadWizzard();
            LoadDataTable_Penutupan();
            //$('input[name="StatusObjek"]:checked').val(false)
            //if (document.getElementById('StatusObjekKlaim').checked != true && document.getElementById('StatusObjekKlaim').checked != false) {
            //    $('input[name="StatusObjek"]:checked').val(0)
            //}
            //$('input:radio:first').attr('checked', false);
            DropdownApproverServerSide('Id_Approver', 10, true);
            DropdownReviewerServerSide('Id_Reviewer', 10, true);
            DropdownInputerADKServerSide('Id_InputerADK', 10, true);
            DropdownReviewerADKServerSide('Id_ReviewerADK', 10, true);
            DropdownApproverADKServerSide('Id_ApproverADK', 10, true);
            //ValidationPopup();
        });
    }
    function GetDataPenutupan(id, TotalPertanggungan) {
        debugger;
        IdPenutupan = id;
        $('#TotalNilaiPertanggungan').val(TotalPertanggungan);
        $('#table_ObjekPertanggungan').DataTable().destroy();
        $('#table_FilePendukung').DataTable().destroy();
        LoadDataTable_ObjekPertanggungan(id);
    }
    function EditKlaim(id, id_penutupan) {
        debugger;
        IdPenutupan = id_penutupan;
        IdKlaim = id;
        SearchData = { 'Id': id }
        UrlPartialView = '@Url.Content("~/Klaim/EditKlaim")';
        LoadPartialViewData(UrlPartialView, function (data) {
            //Open Modal Form - Input Data
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
            LoadWizzard();
            LoadDataTable_Penutupan();
            LoadDataTable_ObjekPertanggungan(id_penutupan);
            DropdownApproverServerSide('Id_Approver', 10, true);
            DropdownReviewerServerSide('Id_Reviewer', 10, true);
            DropdownInputerADKServerSide('Id_InputerADK', 10, true);
            //DropdownReviewerADKServerSide('ReviewerADK', 10, true);
            //DropdownApproverADKServerSide('ApproverADK', 10, true);
        }, SearchData);
    }
    //Validasi Input File
    function inputGroupFilePendukung() {
        debugger;
        if ($('#inputDataPendukung').val() != '' && $('#inputDataPendukung').val() != 'Choose file') {
            var filename = $('#inputDataPendukung').val();
            filename = filename.replace('C:\\fakepath\\', '')
            var error = false;
            $('#labelFilePendukung').text(filename);
            if (filename.endsWith('.PDF') || filename.endsWith('.pdf')) {
                $('#warning').hide();
                error = false;
            } else {
                $('#error-file-text').text('File bukan PDF.');
                $('#warning').show();
                error = true;
            }
            if (error) {
                //$('#inputFileUpload').css('color', 'gainsboro');
                $('#btnUpload').prop('disabled', true);
            } else {
                //$('#inputFileUpload').css('color', 'inherit');
                $('#btnUpload').prop('disabled', false);
            }
        }
    }
    function uploadDataPendukung() {
        debugger;
        var form = new FormData();
        var valueKomentar = $("#komentar").val();
        var valueFile = $('#inputDataPendukung')[0].files[0];
        form.append('id', IdObjekPertanggungan);
        form.append('Komentar', valueKomentar);
        form.append('file', valueFile);
        //$.each($('#InputFilePendukung')[0].files, function (i, file) {
        //    form.append('files', file);
        //});

        if (valueKomentar = "" || valueFile == "") {
            NotifikasiError("Error", "Harap isi field terlebih dahulu !")
        } else {
            $.ajax({
                url: '@apiUploadFilePendukung',
                type: 'POST',
                beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer @token');
                },
                data: form,
                processData: false,
                contentType: false,
                success: function (d) {
                    if (d.code == 1) {
                        debugger;
                        $('#table_FilePendukung').DataTable().destroy();
                        LoadDataTable_FilePendukung(IdObjekPertanggungan);
                        NotifikasiSukses("Sukses", "Data berhasil ditambahkan!");
                        $('#subModalClose').click();
                        //$('#closeModal').click();
                    } else {
                        NotifikasiError("Error", "Pilih File Sebelum Upload!");
                    }

                }
            });
            return false;
        }

    }
    function DeleteFilePendukung(idFilePendukung) {
        swal({
            title: "Konfirmasi",
            text: "Apakah Anda yakin ingin menghapus data ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '@apiDeleteFilePendukung',
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer @token');
                    },
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ "id": idFilePendukung }),
                    success: function (d) {
                        debugger;
                        if (d.code == 1) {
                            $('#table_FilePendukung').DataTable().destroy();
                            LoadDataTable_FilePendukung(IdObjekPertanggungan);
                            NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                        } else {
                            NotifikasiError("Error", "Data gagal dihapus!")

                        }
                    }
                });
            }
        });
        return false;
    }

    function LoadWizzard() {
        // Smart Wizard
        $('#smartwizard').smartWizard({
            //selected: 1,
            theme: 'default',
            autoAdjustHeight: true,
            transition: {
                animation: 'slide-horizontal', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
            },
            toolbarSettings: {
                /*toolbarPosition: 'bottom', */// both bottom
                //toolbarExtraButtons: [btnDraft, btnSimpan]
            },
            enableFinishButton: false,
            useURLhash: false,
            showStepURLhash: false,
            anchorSettings: {
                anchorClickable: true,
                // Enable/Disable anchor navigation
                enableAllAnchors: true,
                // Activates all anchors clickable all times
                markDoneStep: true,
                // Add done state on navigation
                markAllPreviousStepsAsDone: true,
                // When a step selected by url hash, all previous steps are marked done
                removeDoneStepOnNavigateBack: false,
                // While navigate back done step after active step will be cleared
                enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation

            },
            keyboardSettings: {
                keyNavigation: false,
                // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                keyLeft: [37],
                // Left key code
                keyRight: [39] // Right key code

            },
        });
    }

    function rejectKlaim() {
        debugger;
        var idKlaimINT = parseInt(IdKlaim)
        var komentar = $("#komentar").val()
        var parameter = {
            "id": idKlaimINT,
            "komentar": komentar
        }
        if (IdPenutupan == "") {
            NotifikasiError("Error", "Pilih penutupan pada step 1 terlebih dahulu !")
        } else {
            if (komentar == null || komentar == "") {
                $("#errorKomentar").show()
            } else {
                $.ajax({
                    url: '@apiRejectKlaim',
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer @token');
                    },
                    type: "POST",
                    contentType: "application/json",
                    datatype: "json",
                    data: JSON.stringify(parameter),
                    success: function (d) {
                        debugger;
                        if (d.code == 1) {
                            location.reload()
                            NotifikasiSukses("Sukses", "Data berhasil di Reject !");
                            //BackDraf();
                            //LoadDataTable_KlaimKerugian_Proses()
                            //LoadDataTable_KlaimKerugian()
                        } else {
                            NotifikasiError("Error", "Data Gagal di Reject !");
                        }
                    }
                });
            }
        }
    }
    function approveKlaim() {
        debugger;
        var idKlaimINT = parseInt(IdKlaim)
        var komentar = $("#komentar").val()
        var parameter = {
            "id": idKlaimINT,
            "komentar": komentar
        }
        if (IdPenutupan == "") {
            NotifikasiError("Error", "Pilih penutupan pada step 1 terlebih dahulu !")
        } else {
             if (komentar == null || komentar == "") {
                 $("#errorKomentar").show()
             } else {
                 $.ajax({
                     url: '@apiApproveKlaim',
                     beforeSend: function (xhr, settings) {
                         xhr.setRequestHeader('Authorization', 'Bearer @token');
                     },
                     type: "POST",
                     contentType: "application/json",
                     datatype: "json",
                     data: JSON.stringify(parameter),
                     success: function (d) {
                         debugger;
                         if (d.code == 1) {
                             location.reload()
                             NotifikasiSukses("Sukses", "Data berhasil di Approve !");
                             //BackDraf();
                             //LoadDataTable_KlaimKerugian_Proses()
                             //LoadDataTable_KlaimKerugian()
                         } else {
                             NotifikasiError("Error", "Data Gagal di Approve !");
                         }
                     }
                 });
             }
        }
    }
    function submitKlaim() {
        debugger;
        var komentar = $("#komentar").val()
        var Data = $('#formKlaim').serialize() + "&Komentar=" + komentar + "&IdPenutupan=" + IdPenutupan + $("#form_createKlaim").serialize()
        if (IdPenutupan == "") {
            NotifikasiError("Error", "Pilih penutupan pada step 1 terlebih dahulu !")
        } else {
            var Reviewer = $("#Id_Reviewer").val()
            var Approver = $("#Id_Approver").val()
            var InputerAdk = $("#Id_InputerADK").val()
            if (Reviewer == null || Approver == null || InputerAdk == null) {
                NotifikasiError("Error", "Pilih dropdown approval terlebih dahulu !")
            } else {
                if (komentar == null || komentar == "") {
                    $("#errorKomentar").show()
                } else {
                    $.ajax({
                        url: '@apiSubmitKlaim',
                        //url: '@Url.Content("http://localhost:5500/api/Tklaim/SubmitKlaim")',
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader('Authorization', 'Bearer @token');
                        },
                        type: 'POST',
                        data: Data,
                        success: function (d) {
                            debugger;
                            if (d.code == 1) {
                                location.reload()
                                NotifikasiSukses("Sukses", "Data berhasil di Submit !");
                                //BackDraf();
                                //LoadDataTable_KlaimKerugian_Proses()
                                //LoadDataTable_KlaimKerugian()
                            } else {
                                NotifikasiError("Error", "Data Gagal di Submit !");
                            }
                        }
                    });
                }
            }
        }
    }
    function saveAsDraftKlaim() {
        debugger;
        var Data = $('#formKlaim').serialize() + "&Komentar=" + komentar + "&IdPenutupan=" + IdPenutupan + $("#form_createKlaim").serialize()
        if (IdPenutupan == "") {
            NotifikasiError("Error", "Pilih penutupan pada step 1 terlebih dahulu !")
        } else {
            $.ajax({
                url: '@apiSaveAsDraftKlaim',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('Authorization', 'Bearer @token');
                },
                type: 'POST',
                data: Data,
                success: function (d) {
                    debugger;
                    if (d.code == 1) {
                        location.reload();
                        NotifikasiSukses("Sukses", "Data berhasil Save As Draft !");
                    } else {
                        NotifikasiError("Error", "Data gagal Save As Draft !");
                    }
                }
            });
        }
    }
    function submitKlaimInputerADK() {
        debugger;
        var IdKlaim = $("#Id").val()
        var komentar = $("#komentar").val()
        var Data = $('#formKlaim').serialize() + "&Komentar=" + komentar + "&IdPenutupan=" + IdPenutupan
        if (komentar == null || komentar == "") {
            $("#errorKomentar").show()
        } else {
            $.ajax({
                url: '@apiSubmitKlaim',
                @*url: '@Url.Content("http://localhost:5500/api/Tklaim/SubmitKlaim")',*@
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('Authorization', 'Bearer @token');
                },
                type: 'POST',
                data: Data,
                success: function (d) {
                    debugger;
                    if (d.code == 1) {
                        location.reload()
                        NotifikasiSukses("Sukses", "Data berhasil di Submit !");
                        //BackDraf();
                        //LoadDataTable_KlaimKerugian_Proses()
                        //LoadDataTable_KlaimKerugian()
                    } else {
                        NotifikasiError("Error", "Data Gagal di Submit !");
                    }
                }
            });
        }
    }
    //==================================================================== PROSES ====================================================================
    function LoadDataTable_KlaimKerugian_Proses(data) {
        TableKlaimProses = $('#table_indexKlaimKerugianProses').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTableKlaimProses")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><a href="javascript:;" class="btn btn-success" id="button-edit" onclick=ViewKlaimProses("' + full.id + '","' + full.id_Penutupan + '") style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"> <span class="fa fa-eye"></span> Lihat Data </a></div>'
                }
            },
            { responsivePriority: 3, "data": "lokasiObjekPertanggungan", "name": "lokasiObjekPertanggungan" },
            { responsivePriority: 4, "data": "totalNilaiPertanggungan", "name": "totalNilaiPertanggungan" },
            { responsivePriority: 5, "data": "taksiranKerugian", "name": "taksiranKerugian" },
            { responsivePriority: 6, "data": "id_Reviewer", "name": "id_Reviewer" },
            { responsivePriority: 7, "data": "id_Approver", "name": "id_Approver" },
            //{ responsivePriority: 8, "data": "id_InputerAdk", "name": "id_InputerAdk" },
            {
                responsivePriority: 8, "data": "id_Status", "name": "id_Status",
                "render": function (data, type, full, meta) {
                    if (data == '2') {
                        return '<p class="mt-2 btn btn-sm btn-primary disabled"><b> Menunggu Reviewer UB </b></p>'
                    }
                    else if (data == '3') {
                        return '<p class="mt-2 btn btn-sm btn-primary disabled"><b> Menunggu Approver UB </b></p>'
                    }
                    else if (data == '4') {
                        return '<p class="mt-2 btn btn-sm btn-primary disabled"><b> Menunggu Inputer ADK </b></p>'
                    }
                    else if (data == '5') {
                        return '<p class="mt-2 btn btn-sm btn-primary disabled"><b> Menunggu Reviewer ADK </b></p>'
                    }
                    else if (data == '6') {
                        return '<p class="mt-2 btn btn-sm btn-primary disabled"><b> Menunggu Approver ADK </b></p>'
                    }
                }
            },

        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#table_indexKlaimKerugian').DataTable();
        $('#BtnSearchEndorsement').click(function () {
            TableKlaimProses.columns(2).search($('#txtTipeSearchParamEndorsement').val().trim());
            TableKlaimProses.columns(3).search($('#txtNamaSearchParamEndorsement').val().trim());

            //hit search ke server
            TableKlaimProses.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearchEndorsement').click(function () {
            $('#txtTipeSearchParamEndorsement').val("");
            $('#txtNamaSearchParamEndorsement').val("");

            TableKlaimProses.columns(2).search($('#txtTipeSearchParamEndorsement').val().trim());
            TableKlaimProses.columns(3).search($('#txtNamaSearchParamEndorsement').val().trim());

            //hit search ke server
            TableKlaimProses.draw();
        });

        TableKlaimProses.columns.adjust().responsive.recalc();
    }
    function LoadDataTable_Penutupan_Proses(data) {
        TablePenutupan = $('#TablePenutupanProses').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTablePenutupanProses")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            //{
            //    responsivePriority: 2,
            //    "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
            //        //debugger;
            //        //var str = full.nomorPolisLama;
            //        //var str2 = full.noPK
            //        //if (str != null) {
            //        //    var NPlama = str.replaceAll(".", "!");
            //        //}
            //        //if (str2 != null) {
            //        //    var noPK = str2.replaceAll(" ", "!");
            //        //}
            //        //Eko
            //        var valTSITotalPertanggungan = full.totalpertanggungan

            //        return '<a href="javascript:void(0)" class="btn btn-lg btn-success" onclick=GetDataPenutupan("' + full.id + '","' + valTSITotalPertanggungan + '") style="margin-right:5px;"data-toggle="tooltip" title="Ubah Data"> <span class=" fa fa-plus"></span> Pilih Data </a>'
            //    }
            //},
            { responsivePriority: 3, "data": "tglinput", "name": "tglinput" },
            { responsivePriority: 4, "data": "nopolis", "name": "nopolis" },
            { responsivePriority: 5, "data": "cif", "name": "cif" },
            { responsivePriority: 6, "data": "namadebitur", "name": "namadebitur" },
            { responsivePriority: 7, "data": "totalpertanggungan", "name": "totalpertanggungan" },
            { responsivePriority: 8, "data": "namaunit", "name": "namaunit" },//Tidak ada balikan di service untuk Kolom Nama RM
            { responsivePriority: 9, "data": "statuspremi", "name": "statuspremi" },
            {
                responsivePriority: 10, "data": "statusklaim", "name": "statusklaim"
            },
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TablePenutupan').DataTable();
        $('#BtnSearchPolis').click(function () {
            TablePenutupan.columns(2).search($('#txtTipeSearchParamPolis').val().trim());
            TablePenutupan.columns(3).search($('#txtNamaSearchParamPolis').val().trim());


            //hit search ke server
            TablePenutupan.draw();
        });


        //---------------------FunctioapiApproveKlaimApproveKlaim untuk reset data pencarian----------------//
        $('#BtnClearSearchPolis').click(function () {
            $('#txtTipeSearchParamPolis').val("");
            $('#txtNamaSearchParamPolis').val("");

            TablePenutupan.columns(2).search($('#txtTipeSearchParamPolis').val().trim());
            TablePenutupan.columns(3).search($('#txtNamaSearchParamPolis').val().trim());
            //hit search ke server
            TablePenutupan.draw();
        });

        TablePenutupan.columns.adjust().responsive.recalc();
    }
    function LoadDataTable_ObjekPertanggungan_Proses(data) {
        TableObjekPertanggunganProses = $('#table_ObjekPertanggunganProses').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTableObjekPertanggunganProses")',
            "type": "POST",
            "datatype": "json",
            "data": { "id": data },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2, "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-lg btn-success" id="button-edit" onclick="ViewObjekKlaim(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><span class="fa fa-edit"></span> View </a></div>'
                },
                //{ responsivePriority: 6, "data": "isDitutupAsuransi", "name": "isDitutupAsuransi" }
            },
            { responsivePriority: 3, "data": "namatertanggung", "name": "namatertanggung"},
            { responsivePriority: 4, "data": "matauang", "name": "matauang" },
            { responsivePriority: 5, "data": "jumlahpertanggungan", "name": "jumlahpertanggungan" },
            {
                responsivePriority: 6, "data": "statusObjekKlaim", "name": "statusObjekKlaim",
                "render": function (data, type, full, meta) {
                    if (data == true) {
                        return '<p class="mt-2 btn btn-primary disabled"><b> Ya </b></p>'
                    }
                    else {
                        return '<p class="mt-2 btn btn-danger disabled"><b> Tidak </b></p>'
                    }
                }
            },

        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            TableObjekPertanggunganProses.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableObjekPertanggunganProses.columns(3).search($('#txtNamaSearchParam').val().trim());


            //hit search ke server
            TableObjekPertanggunganProses.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableObjekPertanggunganProses.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableObjekPertanggunganProses.columns(3).search($('#txtNamaSearchParam').val().trim());
            //hit search ke server
            TableObjekPertanggunganProses.draw();
        });

        TableObjekPertanggunganProses.columns.adjust().responsive.recalc();
    }
    function LoadDataTable_FilePendukungProses(data) {
        TableFilePendukungProses = $('#table_FilePendukungProses').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTableFilePendukungProses")',
            "type": "POST",
            "datatype": "json",
            "data": { "id": data },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
                var a = jqXHR;
                var b = textStatus;
                //window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    debugger;
                    return '<div class="btn-group"><a href="' + full.downloadPath +'" class="btn btn-lg btn-success" style="margin-right:5px;" data-toggle="tooltip" title="Download File"><span class="fa fa-download"></span> Download </a></div>'
                }
            },
            { responsivePriority: 3, "data": "fileName", "name": "fileName" },
            { responsivePriority: 5, "data": "fileType", "name": "fileType" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            TableFilePendukungProses.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableFilePendukungProses.columns(3).search($('#txtNamaSearchParam').val().trim());


            //hit search ke server
            TableFilePendukungProses.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableFilePendukungProses.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableFilePendukungProses.columns(3).search($('#txtNamaSearchParam').val().trim());
            //hit search ke server
            TableFilePendukungProses.draw();
        });

        TableFilePendukungProses.columns.adjust().responsive.recalc();
    }
     function LoadDataTable_History_Proses(data) {
        TableHistory = $('#TableHistory').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Klaim/LoadTableHistory")',
            "type": "POST",
            "datatype": "json",
            "data": { "id": data },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
                var a = jqXHR;
                var b = textStatus;
                //window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            //{
            //    responsivePriority: 2,
            //    "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
            //        debugger;
            //        return '<div class="btn-group"><a href="' + full.downloadPath +'" class="btn btn-lg btn-success" style="margin-right:5px;" data-toggle="tooltip" title="Download File"><span class="fa fa-download"></span> Download </a></div>'
            //    }
            //},
            { responsivePriority: 2, "data": "nama", "name": "nama" },
            { responsivePriority: 3, "data": "role", "name": "role" },
            { responsivePriority: 4, "data": "komentar", "name": "komentar" },
            { responsivePriority: 5, "data": "status", "name": "status" },
            { responsivePriority: 6, "data": "tanggal", "name": "tanggal" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            TableHistory.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableHistory.columns(3).search($('#txtNamaSearchParam').val().trim());


            //hit search ke server
            TableHistory.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableHistory.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableHistory.columns(3).search($('#txtNamaSearchParam').val().trim());
            //hit search ke server
            TableHistory.draw();
        });

        TableHistory.columns.adjust().responsive.recalc();
    }

    function ViewKlaimProses(id, id_penutupan) {
        debugger;
        IdKlaim = id;
        IdPenutupan = id_penutupan;
        SearchData = { "Id": IdKlaim }
        UrlPartialView = '@Url.Content("~/Klaim/ViewProses")';
        var role = '@role'
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
            LoadWizzard();
            DropdownApproverServerSide('Id_Approver', 10, true);
            DropdownReviewerServerSide('Id_Reviewer', 10, true);
            DropdownInputerADKServerSide('Id_InputerADK', 10, true);
            if (role == "INP") {
                debugger;
                DropdownReviewerADKServerSide('Id_ReviewerADK', 10, true);
                DropdownApproverADKServerSide('Id_ApproverADK', 10, true);
            }
            //LoadDataTable_Penutupan_Proses();
            LoadDataTable_ObjekPertanggungan_Proses(IdPenutupan)
            LoadDataTable_History_Proses(IdKlaim)
        }, SearchData);

    }
    function ViewObjekKlaim(id_objek) {
        debugger;
        IdObjekPertanggungan = id_objek
        SearchData = {'Id_Objek' : id_objek}
        UrlPartialView = '@Url.Content("~/Klaim/View_DetailObjekPertanggungan_Klaim")';
        LoadPartialViewData(UrlPartialView, function (data) {
            //Open Modal Form - Input Data
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false,
            });
            LoadDataTable_FilePendukungProses(IdObjekPertanggungan);
        }, SearchData);
    }

</script>