﻿<div class="main-card mb-3 card" style="margin-top:50px">
    <div class="headerSearch">
        Upload Data Pendukung
    </div>
    <div class="card-body">
        <table id="table_FilePendukungProses" class="display nowrap table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th style="max-width:25px">No</th>
                    <th>Action</th>
                    <th>Nama File</th>
                    <th>Ekstensi</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>