﻿<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Kerugian
            </div>
            <div class="card-body" style="padding:20px">
                <div class="row">
                    <div class="col-lg-3">
                        <center>
                            <button class="mb-3 mr-3 btn btn-success btn-sm btn-block" style="align-content: center;margin-left: 3%; z-index: 1;width:95%" id="btnShowParameterSearch" onclick="ShowParameterSearch('btnShowParameterSearch','btnHideParameterSearch','cardParameterSearch')">
                                Tampilkan Parameter Pencarian
                            </button>
                            <button class="mb-3 mr-3 btn btn-success btn-sm btn-block" style="align-content: center;margin-left: 3%; z-index: 1;display:none;width:95%;" id="btnHideParameterSearch" onclick="HideParameterSearch('btnShowParameterSearch','btnHideParameterSearch','cardParameterSearch')">
                                Sembunyikan Parameter Pencarian
                            </button>
                        </center>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card" style="display:none" id="cardParameterSearch">
                            <div class="card-body">
                                <form class="">
                                    <div class="form-row">
                                        <div class="col-md-6" hidden>
                                            <div class="position-relative form-group">
                                                <label class="">Tipe</label>
                                                <input name="city" id="txtTipeSearchParamEndorsement" type="text" class="form-control" placeholder="Masukkan Nama">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label class="">Nomor Polis</label>
                                                <input name="city" id="txtNamaSearchParamEndorsement" type="text" class="form-control" placeholder="Masukkan Nomor Polis">
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="mt-2 btn btn-success pull-right" style="margin-left:10px;" id="BtnSearchEndorsement">Cari</a>
                                    <a href="javascript:void(0)" class="mt-2 btn btn-danger pull-right" id="BtnClearSearchEndorsement">Bersihkan</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="table_indexKlaimKerugianProses" class="display nowrap table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th style="max-width:25px">No</th>
                            <th style="max-width:5%">Action</th>
                            <th>Tanggal Polis</th>
                            <th>No Polis</th>
                            <th>CIF</th>
                            <th>Nama Debitur</th>
                            <th>TSI/Total Pertanggungan</th>
                            @*<th>Nama RM</th>*@
                            <th>Status Klaim</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .fab {
        position: fixed;
        bottom: 20px;
        right: 20px;
        clip-path: circle();
        height: 40px;
        width: 40px;
        z-index: 999;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    }

    .addButton {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .select2 {
        height: 30px;
    }
    /*
    .headerSearch {
        background-color: #3f6ad8;
        width: 50%;
        position: absolute;
        margin-top: -20px;
        margin-left: 20px;
        height: 35px;
        border-radius: .25rem;
        text-align: left;
        padding-left: 10px;
        padding-top: 5px;
        color: white;
    }*/

    .dataTables_wrapper {
        zoom: 0.9 !important;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
        background-color: #3f6ad8;
    }

    .select2-container .select2-selection--single {
        height: 35px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-top: 5px;
        color: #495057;
        /*border: 1px solid #ced4da;*/
    }

    .input-group {
        margin-bottom: 5px;
    }

    select[name=Table_length] {
        height: 35px;
    }
</style>


@section styles{
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/extensions/Select/css/select.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/select2/dist/css/select2.min.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/plugin/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/plugin/jquery-smartwizard-master/dist/css/smart_wizard_all.min.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/richtexteditor/rte_theme_default.css")" rel="stylesheet" />*@
}

@section scripts{
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/extensions/Select/js/dataTables.select.min.js")"></script>
    <script src="@Url.Content("~/plugin/jquery-smartwizard-master/dist/js/jquery.smartWizard.min.js")"></script>
    <script src="@Url.Content("~/plugin/select2/dist/js/select2.min.js")"></script>
    @*<script src="@Url.Content("~/plugin/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>*@
    @*<script src="@Url.Content("~/richtexteditor/rte.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/richtexteditor/plugins/all_plugins.js")" type="text/javascript"></script>*@
    @Html.Partial("_Script")
}