﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.IO;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;
@model Epolis.Models.M_KlaimKerugian;

<div class="row" style="padding-top: 20px;">
    <div class="main-card mb-3 card" style="width: 100%">
        <div class="row" style="padding-top:20px;">
            <div class="col-lg-12">
                <div class="headerSearch">
                    Approval
                </div>
                <div class="card-body">
                    <form id="formKlaim">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Reviewer</label>
                                <div class="input-group">
                                    @*<select class="js-example-placeholder-multiple js-states form-control" id="IdReviewer" name="IdReviewer" style="width:100%" disabled></select>*@
                                    @Html.DropDownListFor(m => m.Id_Reviewer, (IEnumerable<SelectListItem>)ViewBag.Id_Reviewer, "-Silahkan pilih-", new { @class = "form-control", @style = "width: 100%", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Approver</label>
                                <div class="input-group">
                                    @*<select class="js-example-placeholder-multiple js-states form-control" id="IdApprover" name="IdApprover" style="width:100%" disabled></select>*@
                                    @Html.DropDownListFor(m => m.Id_Approver, (IEnumerable<SelectListItem>)ViewBag.Id_Approver, "-Silahkan pilih-", new { @class = "form-control", @style = "width: 100%", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <div class="col-md-12">
                                <label class="col-md-3 col-form-label">Inputer ADK</label>
                                <div class="input-group">
                                    @*<select class="js-example-placeholder-multiple js-states form-control" id="IdInputerADK" name="IdInputerADK" style="width:100%" disabled></select>*@
                                    @Html.DropDownListFor(m => m.Id_InputerADK, (IEnumerable<SelectListItem>)ViewBag.IdInputerADK, "-Silahkan pilih-", new { @class = "form-control", @style = "width: 100%", disabled = "disabled" })
                                </div>
                            </div>
                        </div>

                        @if (Context.Session.GetString("USERGROUPCODE") == "INP")
                        {

                            <div class="form-group row m-b-15">
                                <div class="col-md-12">
                                    <label class="col-md-3 col-form-label">Reviewer ADK</label>
                                    <div class="input-group">
                                        <select class="js-example-placeholder-multiple js-states form-control" id="Id_ReviewerADK" name="IdReviewerADK" style="width:100%"></select>
                                        @Html.HiddenFor(m => m.Id_ReviewerADK)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <div class="col-md-12">
                                    <label class="col-md-3 col-form-label">Approver ADK</label>
                                    <div class="input-group">
                                        <select class="js-example-placeholder-multiple js-states form-control" id="Id_ApproverADK" name="IdApproverADK" style="width:100%"></select>
                                        @Html.HiddenFor(m => m.Id_ApproverADK)
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Context.Session.GetString("USERGROUPCODE") == "REV" || Context.Session.GetString("USERGROUPCODE") == "APP")
                        {
                            <div class="form-group row m-b-15">
                                <div class="col-md-12">
                                    <label class="col-md-3 col-form-label">Reviewer ADK</label>
                                    <div class="input-group">
                                        @*<select class="js-example-placeholder-multiple js-states form-control" id="IdInputerADK" name="IdInputerADK" style="width:100%" disabled></select>*@
                                        @Html.DropDownListFor(m => m.Id_ReviewerADK, (IEnumerable<SelectListItem>)ViewBag.IdReviewerADK, "-Silahkan pilih-", new { @class = "form-control", @style = "width: 100%", disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <div class="col-md-12">
                                    <label class="col-md-3 col-form-label">Approver ADK</label>
                                    <div class="input-group">
                                        @*<select class="js-example-placeholder-multiple js-states form-control" id="IdInputerADK" name="IdInputerADK" style="width:100%" disabled></select>*@
                                        @Html.DropDownListFor(m => m.Id_ApproverADK, (IEnumerable<SelectListItem>)ViewBag.IdApproverADK, "-Silahkan pilih-", new { @class = "form-control", @style = "width: 100%", disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                    <div class="form-group row m-b-15">
                        <div class="col-md-12">
                            <label class="col-md-3 col-form-label">Catatan<span class="labelMandatory">*</span></label>
                            <div class="input-group">
                                <textarea class="form-control" id="komentar"></textarea>
                                @*@Html.TextAreaFor(m => m.Komentar, new { @class = "form-control" })*@
                            </div>
                            <div id="errorKomentar" style="color:red; display:none">Harap mengisi komentar</div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="javascript:;" onclick="BackDraft()" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    @if (Context.Session.GetString("USERGROUPCODE") == "ADM")
                    {
                        <a href="javascript:;" class="btn btn-sm btn-outline-success" id="BtnRejectKlaim" onclick="saveAsDraftKlaim()">Save As Draft</a>
                        <a href="javascript:;" class="btn btn-sm btn-danger" id="BtnRejectKlaim" onclick="rejectKlaim()">Reject Klaim</a>
                        <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnApproveKlaim" onclick="approveKlaim()">Approve Klaim</a>
                        <a href="javascript:;" class="btn btn-sm btn-success" id="BtnSubmitKlaim" onclick="submitKlaim()">Submit Klaim</a>
                    }
                    @if (Context.Session.GetString("USERGROUPCODE") == "IUB")
                    {
                        <a href="javascript:;" class="btn btn-sm btn-outline-success" id="BtnRejectKlaim" onclick="saveAsDraftKlaim()">Save As Draft</a>
                        <a href="javascript:;" class="btn btn-sm btn-success" id="BtnSubmitKlaim" onclick="submitKlaim()">Submit Klaim</a>
                    }
                    @if (Context.Session.GetString("USERGROUPCODE") == "RUB")
                    {
                        <a href="javascript:;" class="btn btn-sm btn-danger" id="BtnRejectKlaim" onclick="rejectKlaim()">Reject Klaim</a>
                        <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnApproveKlaim" onclick="approveKlaim()">Approve Klaim</a>
                    }
                    @if (Context.Session.GetString("USERGROUPCODE") == "AUB")
                    {
                        <a href="javascript:;" class="btn btn-sm btn-danger" id="BtnRejectKlaim" onclick="rejectKlaim()">Reject Klaim</a>
                        <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnApproveKlaim" onclick="approveKlaim()">Approve Klaim</a>
                    }
                    @if (Context.Session.GetString("USERGROUPCODE") == "INP")
                    {
                        <a href="javascript:;" class="btn btn-sm btn-outline-success" id="BtnRejectKlaim" onclick="rejectKlaimInputerADK()">Reject Klaim</a>
                        <a href="javascript:;" class="btn btn-sm btn-success" id="BtnSubmitKlaim" onclick="submitKlaimInputerADK()">Submit Klaim</a>
                    }
                    @if (Context.Session.GetString("USERGROUPCODE") == "REV")
                    {
                        <a href="javascript:;" class="btn btn-sm btn-danger" id="BtnRejectKlaim" onclick="rejectKlaim()">Reject Klaim</a>
                        <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnApproveKlaim" onclick="approveKlaim()">Approve Klaim</a>
                    }
                    @if (Context.Session.GetString("USERGROUPCODE") == "APP")
                    {
                        <a href="javascript:;" class="btn btn-sm btn-danger" id="BtnRejectKlaim" onclick="rejectKlaim()">Reject Klaim</a>
                        <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnApproveKlaim" onclick="approveKlaim()">Approve Klaim</a>
                    }
                </div>
            </div>
            <div class="col-lg-12">
                <div class="headerSearch">
                    Table History
                </div>
                <div class="card-body">
                    <table id="TableHistory" class="display nowrap table table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th style="max-width:25px">No</th>
                                <th>
                                    Nama
                                </th>
                                <th>
                                    Kewenangan
                                </th>
                                <th>
                                    Komentar
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Tanggal
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>