﻿<div class="main-card mb-3 card" style="margin-top:50px">
    <div class="headerSearch">
        Uraian Objek Pertanggungan
    </div>
    <div class="card-body">
        <table id="table_ObjekPertanggunganProses" class="display nowrap table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th style="max-width:25px">No</th>
                    <th style="max-width:5%">Action</th>
                    <th>Nama Objek Pertanggungan</th>
                    <th>Valuta</th>
                    <th>Nilai Pertanggungan</th>
                    <th>Objek Klaim ? </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
