﻿@model IEnumerable<Epolis.Models.Mlookup>

@{
    ViewData["Title"] = "Index";
    string ISACTIVE = "";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DAFTAR LOOKUP</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <div>
            <a asp-action="Create" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
        </div>
        <br />
        <table style="width: 100%;" id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>
                        @Html.DisplayNameFor(model => model.TYPE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VALUE)
                    </th>
                        <th style="width:15px">
                            @Html.DisplayNameFor(model => model.ISACTIVE)
                        </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                    List<Mlookup> listMlookup = (List<Mlookup>)ViewData["listMlookup"];
                    if (listMlookup != null)
                    {
                        foreach (var item in listMlookup)
                        {
                                <tr>
                                    <td style="text-align:center">
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TYPE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VALUE)
                                    </td>
                                    <td style="width: 15px;text-align: center">
                                        @if (item.ISACTIVE == true)
                                        {
                                            ISACTIVE = "Yes";
                                        }
                                        else
                                        {
                                            ISACTIVE = "No";
                                        }
                                        @Html.DisplayFor(modelItem => ISACTIVE)
                                    </td>
                                    <td style="width: 15px;text-align: center">
                                        <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit" id=""></a> |
                                        <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-detail fa fa-eye"></a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-delete fa fa-trash" onclick="return confirm('Hapus data ini?')"></a>
                                    </td>
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>