﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Epolis.Component
@using Microsoft.AspNetCore.Http;

@{
    var token = Context.Session.GetString(SessionConstan.Session_Tokken);
    var apiSaveResponKlaimTerima = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:MInboxKlaim:saveResponKlaimTerima"];
    var apiSaveResponKlaimTolak = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:MInboxKlaim:saveResponKlaimTolak"];
    var apiUploadDataPendukung = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:MInboxKlaim:uploadDataPendukung"];



}
<script type="text/javascript">

    var TableKlaimDiSetujui;
    var TableKlaimDiTolak;
    var TableKlaimDiTolakProses;
    var TableUraianObyekPertanggunganDisetujui;
    var TableUraianObyekPertanggunganDitolak;
    var IDklaim;
    var IdDokumenPendukung = [];

    $(document).ready(function () {
        LoadDataTableKlaimDiSetujui();
        LoadDataTableKlaimDiTolakProses();
    });

    function LoadDataTableKlaimDiSetujui(data) {
        TableKlaimDiSetujui = $('#TableKlaimDiSetujui').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Inbox/LoadDataTableRespoinKlaimDisetujui")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id_Penutupan", "name": "id_Penutupan", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><button class="btn btn-edit fa fa-eye" id="button-eye" onclick="ViewKlaimAsuradurDiSetujui(' + full.id_Klaim + ',' + full.id_Penutupan + ')" style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"> Lihat Data</button>'
                }
            },
            { responsivePriority: 3, "data": "noOrder", "name": "noOrder" },
            { responsivePriority: 4, "data": "noSKK", "name": "noSKK" },
            { responsivePriority: 5, "data": "noPolis", "name": "noPolis" },
            { responsivePriority: 6, "data": "cif", "name": "cif" },
            { responsivePriority: 7, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 8, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 9, "data": "rmPenutupan", "name": "rmPenutupan" },
            { responsivePriority: 10, "data": "statusPembayaranPremi", "name": "statusPembayaranPremi" },
            { responsivePriority: 11, "data": "statusKlaim", "name": "statusKlaim" }

        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TableObyekPertanggunganBelumDiasuransikan').DataTable();
        $('#BtnSearch').click(function () {
            TableKlaimDiSetujui.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableKlaimDiSetujui.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableKlaimDiSetujui.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableKlaimDiSetujui.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableKlaimDiSetujui.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableKlaimDiSetujui.draw();
        });

        TableKlaimDiSetujui.columns.adjust().responsive.recalc();
    }
    function LoadDataTableKlaimDiTolak(data) {
        TableKlaimDiTolak = $('#TableKlaimDiTolak').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Inbox/LoadDataTableRespoinKlaimDiTolak")',
            "type": "POST",
            "datatype": "json",
            "error": function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id_Penutupan", "name": "id_Penutupan", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><button class="btn btn-edit fa fa-eye" id="button-eye" onclick="ViewKlaimAsuradurDiTolak(' + full.id_Klaim + ',' + full.id_Penutupan + ')" style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"> Lihat Data</button>'
                }
            },
            { responsivePriority: 3, "data": "noOrder", "name": "noOrder" },
            { responsivePriority: 4, "data": "noSKK", "name": "noSKK" },
            { responsivePriority: 5, "data": "noPolis", "name": "noPolis" },
            { responsivePriority: 6, "data": "cif", "name": "cif" },
            { responsivePriority: 7, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 8, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 9, "data": "rmPenutupan", "name": "rmPenutupan" },
            { responsivePriority: 10, "data": "statusPembayaranPremi", "name": "statusPembayaranPremi" },
            { responsivePriority: 11, "data": "statusKlaim", "name": "statusKlaim" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TableObyekPertanggunganBelumDiasuransikan').DataTable();
        $('#BtnSearch').click(function () {
            TableKlaimDiTolak.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableKlaimDiTolak.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableKlaimDiTolak.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableKlaimDiTolak.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableKlaimDiTolak.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableKlaimDiTolak.draw();
        });

        TableKlaimDiTolak.columns.adjust().responsive.recalc();
    }
    function LoadDataTableUraianObyekPertanggunganDiSetujui(data) {
        debugger;
        TableUraianObyekPertanggunganDisetujui = $('#TableUraianObyekPertanggunganDisetujui').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Inbox/LoadDataTableUraianObyekPertanggungan")',
            "type": "POST",
            "datatype": "json",
            "data": { "Id" : data },
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-edit fa fa-eye" id="button-eye" onclick="ViewUraianObyekPertanggunganDisetujui(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"> Lihat Data</a>'
                }
            },
            { responsivePriority: 3, "data": "namatertanggung", "name": "namatertanggung" },
            { responsivePriority: 4, "data": "matauang", "name": "matauang" },
            { responsivePriority: 5, "data": "jumlahpertanggunganText", "name": "jumlahpertanggunganText" },
            { responsivePriority: 6, "data": "statusObjekKlaimText", "name": "statusObjekKlaimText" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TableUraianObyekPertanggunganDisetujui').DataTable();
        $('#BtnSearch').click(function () {
            TableUraianObyekPertanggunganDisetujui.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableUraianObyekPertanggunganDisetujui.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableUraianObyekPertanggunganDisetujui.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableUraianObyekPertanggunganDisetujui.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableUraianObyekPertanggunganDisetujui.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableUraianObyekPertanggunganDisetujui.draw();
        });

        TableUraianObyekPertanggunganDisetujui.columns.adjust().responsive.recalc();
    }
    function LoadDataTableUraianObyekPertanggunganDiTolak(data) {
        debugger;
        TableUraianObyekPertanggunganDitolak = $('#TableUraianObyekPertanggunganDitolak').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Inbox/LoadDataTableUraianObyekPertanggungan")',
            "type": "POST",
            "datatype": "json",
            "data": { "Id" : data },
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-edit fa fa-eye" id="button-eye" onclick="ViewUraianObyekPertanggunganDitolak(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"> Lihat Data</a>'
                }
            },
            { responsivePriority: 3, "data": "namatertanggung", "name": "namatertanggung" },
            { responsivePriority: 4, "data": "matauang", "name": "matauang" },
            { responsivePriority: 5, "data": "jumlahpertanggunganText", "name": "jumlahpertanggunganText" },
            { responsivePriority: 6, "data": "statusObjekKlaimText", "name": "statusObjekKlaimText" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TableUraianObyekPertanggunganDisetujui').DataTable();
        $('#BtnSearch').click(function () {
            TableUraianObyekPertanggunganDitolak.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableUraianObyekPertanggunganDitolak.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableUraianObyekPertanggunganDitolak.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableUraianObyekPertanggunganDitolak.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableUraianObyekPertanggunganDitolak.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableUraianObyekPertanggunganDitolak.draw();
        });

        TableUraianObyekPertanggunganDitolak.columns.adjust().responsive.recalc();
    }

    function LoadDataTableKlaimDiTolakProses(data) {
        TableKlaimDiTolakProses = $('#TableKlaimDiTolakProses').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Inbox/LoadDataTableRespoinKlaimDiTolak")',
            "type": "POST",
            "datatype": "json",
            "error": function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id_Penutupan", "name": "id_Penutupan", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><button class="btn btn-edit fa fa-eye" id="button-eye" onclick="ViewKlaimAsuradurDiTolakProses(' + full.id_Klaim + ',' + full.id_Penutupan + ')" style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"> Proses Data</button>'
                }
            },
            { responsivePriority: 3, "data": "noOrder", "name": "noOrder" },
            { responsivePriority: 4, "data": "noSKK", "name": "noSKK" },
            { responsivePriority: 5, "data": "noPolis", "name": "noPolis" },
            { responsivePriority: 6, "data": "cif", "name": "cif" },
            { responsivePriority: 7, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 8, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 9, "data": "rmPenutupan", "name": "rmPenutupan" },
            { responsivePriority: 10, "data": "statusPembayaranPremi", "name": "statusPembayaranPremi" },
            { responsivePriority: 11, "data": "statusKlaim", "name": "statusKlaim" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#TableKlaimDiTolakProses').DataTable();
        $('#BtnSearch').click(function () {
            TableKlaimDiTolakProses.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableKlaimDiTolakProses.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableKlaimDiTolakProses.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableKlaimDiTolakProses.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableKlaimDiTolakProses.columns(3).search($('#txtNamaSearchParam').val().trim());

            //hit search ke server
            TableKlaimDiTolakProses.draw();
        });

        TableKlaimDiTolakProses.columns.adjust().responsive.recalc();
    }

    function TriggerLoadTableKlaimDiSetujui() {
        debugger;
        $('#TableKlaimDiSetujui').DataTable().destroy();
        LoadDataTableKlaimDiSetujui();
        $('#TableKlaimDiSetujui').DataTable().ajax.reload();
    }
    function TriggerLoadTableKlaimDiTolak() {
        debugger;
        $('#TableKlaimDiTolak').DataTable().destroy();
        LoadDataTableKlaimDiTolak();
        $('#TableKlaimDiTolak').DataTable().ajax.reload();
    }

    function ViewKlaimAsuradurDiSetujui(idKlaim, idPenutupan) {
        debugger;
        IDklaim = idKlaim;
        SearchData = { "Id": idKlaim }
        UrlPartialView = '@Url.Content("~/Inbox/ViewResponKlaimDisetujui")';
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
            LoadWizzard();
            LoadDataTableUraianObyekPertanggunganDiSetujui(idPenutupan);
        }, SearchData);
    }
    function ViewKlaimAsuradurDiTolak(idKlaim, idPenutupan) {
        debugger;
        IDklaim = idKlaim;
        SearchData = { "Id": idKlaim }
        UrlPartialView = '@Url.Content("~/Inbox/ViewResponKlaimDitolak")';
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
            LoadWizzard();
            LoadDataTableUraianObyekPertanggunganDiTolak(idPenutupan);
            DropdownApproverServerSide('Id_ApproverUB', 10, true);
            DropdownReviewerServerSide('Id_ReviewerUB', 10, true);
            DropdownInputerADKServerSide('Id_InputerADK', 10, true);
            ValidationPopupValidasiDiTolak();
        }, SearchData);
    }
    function ViewUraianObyekPertanggunganDisetujui(id) {
        debugger;
        SearchData = { "Id": id }
        UrlPartialView = '@Url.Content("~/Inbox/ViewUraianObyekPertanggunganDisetujui")';
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false
            });
        }, SearchData);
    }
    function ViewUraianObyekPertanggunganDitolak(id) {
        debugger;
        SearchData = { "Id": id }
        UrlPartialView = '@Url.Content("~/Inbox/ViewUraianObyekPertanggunganDitolak")';
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false
            });
        }, SearchData);
    }

    function ViewKlaimAsuradurDiTolakProses(idKlaim, idPenutupan) {
        debugger;
        IDklaim = idKlaim;
        SearchData = { "Id": idKlaim }
        UrlPartialView = '@Url.Content("~/Inbox/ViewResponKlaimDitolakProses")';
        LoadPartialViewData(UrlPartialView, function (data) {
            debugger;
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
            LoadWizzard();
            LoadDataTableUraianObyekPertanggunganDiTolak(idPenutupan);
            DropdownApproverServerSide('Id_ApproverUB', 10, true);
            DropdownReviewerServerSide('Id_ReviewerUB', 10, true);
            DropdownInputerADKServerSide('Id_InputerADK', 10, true);
            ValidationPopupValidasiDiTolak();
        }, SearchData);
    }


    function CreateValidasiDiTerima() {
        UrlPartialView = '@Url.Content("~/Inbox/CreateValidasiDiTerima")';
        LoadPartialViewData(UrlPartialView, function (data) {
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false
            });
            ValidationPopupValidasiDiTerima();
        });
    }

    //Upload File Pendukung
    function uploadFilePendukung() {
        debugger;
        var form = new FormData();
        form.append('Id', IDklaim);
        $.each($('#InputFilePendukung')[0].files, function (i, file) {
            form.append('files', file);
        });
        $('#preloader').show();
        $.ajax({
            url: '@apiUploadDataPendukung',
            type: 'POST',
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader('Authorization', 'Bearer @token');
            },
            data: form,
            processData: false,
            contentType: false,
            success: function (d) {
                debugger;
                if (d.code == 1) {
                    IdDokumenPendukung.push(d.data);
                    NotifikasiSukses("Sukses", "Data berhasil diupload!");
                } else {
                    NotifikasiError("Error", "Pilih File Sebelum Upload!");
                }
            }
        });
        return false;
    }
    //Validator Upload File Pendukung
    function inputGroupFileChangerPendukung() {
        if ($('#InputFilePendukung').val() != '' && $('#InputFilePendukung').val() != 'Choose file') {
            var filename = $('#InputFilePendukung').val();
            filename = filename.replace('C:\\fakepath\\', '')
            var error = false;
            $('#fileLabelPendukung').text(filename);

            if (filename.endsWith('.PDF') || filename.endsWith('.pdf')) {
                $('#error-file').hide();
                var max_size = parseFloat($('meta[name=max-size]').attr('content'));

                if ($('#InputFilePendukung')[0].files[0].size / 1024.0 / 1024.0 > max_size) {
                    $('#error-file-text').text('Ukuran file maksimum ' + max_size + ' MB.');
                    $('#error-file').show();
                    error = true;
                }
            } else {
                $('#error-file-text').text('File bukan Foto.');
                $('#error-file').show();
                error = true;
            }

            if (error) {
                //$('#inputFileUpload').css('color', 'gainsboro');
                $('#inputFileUploadPendukung').prop('disabled', true);
            } else {
                //$('#inputFileUpload').css('color', 'inherit');
                $('#inputFileUploadPendukung').prop('disabled', false);
            }
        }
    }

    //Validator And button Submit Obyek Pertanggungan
    function ValidationPopupValidasiDiTerima() {
        debugger;
        var $validator = $("#FormDataObyekPertanggungan").validate({
                ignore: [],
                rules: {

                },
                messages: {
                },

                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.is('textarea')) {
                        element.next().css('border', '1px solid red');
                        error.insertAfter(element);
                    } else if (element.is(':radio')) {
                        element.next().css('border', '1px solid red');
                        error.insertAfter(element.parent());
                    }
                    else if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    }
                    else {
                        error.insertAfter(element);
                    }
                }
            });

        //Submit
        $('#BtnSubmitValidasiDiterima').click(function () {
            debugger;
            var $valid = $("#FormDataObyekPertanggungan").valid();

            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '@apiSaveResponKlaimTerima';
                $.ajax({
                    url: url,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer @token');
                    },
                    type: 'POST',
                    data: $('#FormDataObyekPertanggungan').serialize() + "&id=" + IDklaim,
                    success: function (d) {
                        debugger;
                        //Tampilkan alert status
                        if (d.code == 1) {
                            NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                            $('.closeModal').click();
                            location.reload();
                        }
                    }
                });
                return false;
            }
        });
    }

    //Validator And button Submit Obyek Pertanggungan
    function ValidationPopupValidasiDiTolak() {
        debugger;
        var $validator = $("#FormKlaimAsuradurDiTolak").validate({
                ignore: [],
                rules: {

                },
                messages: {
                },

                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.is('textarea')) {
                        element.next().css('border', '1px solid red');
                        error.insertAfter(element);
                    } else if (element.is(':radio')) {
                        element.next().css('border', '1px solid red');
                        error.insertAfter(element.parent());
                    }
                    else if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    }
                    else {
                        error.insertAfter(element);
                    }
                }
            });

        //Submit
        $('#BtnSubmitValidasiDitolak').click(function () {
            debugger;
            var $valid = $("#FormKlaimAsuradurDiTolak").valid();

            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '@apiSaveResponKlaimTolak';
                $.ajax({
                    url: url,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer @token');
                    },
                    type: 'POST',
                    data: $('#FormKlaimAsuradurDiTolak').serialize() + "&idFiles=" + IdDokumenPendukung,
                    success: function (d) {
                        debugger;
                        //Tampilkan alert status
                        if (d.code == 1) {
                            NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                            location.reload();
                        } else {
                            NotifikasiError("Error", "Data gagal disimpan!");
                        }
                    }
                });
                return false;
            }
        });

        //Approve
        $('#BtnApproveValidasiDitolak').click(function () {
            debugger;
            var $valid = $("#FormKlaimAsuradurDiTolak").valid();

            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '@apiSaveResponKlaimTolak';
                $.ajax({
                    url: url,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer @token');
                    },
                    type: 'POST',
                    data: $('#FormKlaimAsuradurDiTolak').serialize(),
                    success: function (d) {
                        debugger;
                        //Tampilkan alert status
                        if (d.code == 1) {
                            NotifikasiSukses("Sukses", "Data berhasil di Approve!");
                            location.reload();
                        } else {
                            NotifikasiError("Error", "Data gagal disimpan!");
                        }
                    }
                });
                return false;
            }
        });

        //Reject
        $('#BtnRejectValidasiDitolak').click(function () {
            debugger;
            var $valid = $("#FormKlaimAsuradurDiTolak").valid();

            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '@apiSaveResponKlaimTolak';
                $.ajax({
                    url: url,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer @token');
                    },
                    type: 'POST',
                    data: $('#FormKlaimAsuradurDiTolak').serialize(),
                    success: function (d) {
                        debugger;
                        //Tampilkan alert status
                        if (d.code == 1) {
                            NotifikasiSukses("Sukses", "Data berhasil di Reject!");
                            location.reload();
                        } else {
                            NotifikasiError("Error", "Data gagal disimpan!");
                        }
                    }
                });
                return false;
            }
        });
    }
    //Utility Script
    function LoadWizzard() {
        // Smart Wizard
        $('#smartwizard').smartWizard({
            //selected: 1,
            theme: 'default',
            autoAdjustHeight: true,
            transition: {
                animation: 'slide-horizontal', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
            },
            toolbarSettings: {
                toolbarPosition: 'bottom', // both bottom
                //toolbarExtraButtons: [btnDraft, btnSimpan]
            },
            enableFinishButton: false,
            useURLhash: false,
            showStepURLhash: false,
            anchorSettings: {
                anchorClickable: true,
                // Enable/Disable anchor navigation
                enableAllAnchors: true,
                // Activates all anchors clickable all times
                markDoneStep: true,
                // Add done state on navigation
                markAllPreviousStepsAsDone: true,
                // When a step selected by url hash, all previous steps are marked done
                removeDoneStepOnNavigateBack: false,
                // While navigate back done step after active step will be cleared
                enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation

            },
            keyboardSettings: {
                keyNavigation: false,
                // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                keyLeft: [37],
                // Left key code
                keyRight: [39] // Right key code

            },
        });
    }
    function DisableKeputusan() {
        debugger;
        var radio = $("#Id_Klaim:checked").val();
        var text1 = document.getElementById("hiddenByBanding1");
        var text2 = document.getElementById("hiddenByBanding2");
        var text3 = document.getElementById("hiddenByBanding3");


        if (radio == "True") {
            text1.style.display = "none";
            text2.style.display = "none";
            text3.style.display = "none";
        } else {
            text1.style.display = "block";
            text2.style.display = "block";
            text3.style.display = "block";
        }
    }
</script>