﻿<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Uraian Obyek Pertanggungan
            </div>
            <div class="card-body">
                <table id="TableUraianObyekPertanggunganDitolak" class="display nowrap table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th style="max-width:25px">No</th>
                            <th>Aksi</th>
                            <th>
                                Nama Obyek Pertanggungan
                            </th>
                            <th>
                                Valuta
                            </th>
                            <th>
                                Nilai Pertanggungan
                            </th>
                            <th>
                                Obyek Klaim
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
