﻿<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Respon Klaim dari Asuradur Di Setujui
            </div>
            <div class="card-body">
                @*<div class="row">
                        <div class="col-lg-3">
                            <center>
                                <button class="mb-3 mr-3 btn btn-success btn-sm btn-block" style="align-content: center;margin-left: 3%; z-index: 1;width:95%" id="btnShowParameterSearch" onclick="ShowParameterSearch('btnShowParameterSearch','btnHideParameterSearch','cardParameterSearch')">
                                    Tampilkan Parameter Pencarian
                                </button>
                                <button class="mb-3 mr-3 btn btn-success btn-sm btn-block" style="align-content: center;margin-left: 3%; z-index: 1;display:none;width:95%;" id="btnHideParameterSearch" onclick="HideParameterSearch('btnShowParameterSearch','btnHideParameterSearch','cardParameterSearch')">
                                    Sembunyikan Parameter Pencarian
                                </button>
                            </center>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card" style="display:none" id="cardParameterSearch">
                            <div class="card-body">
                                <form class="">
                                    <div class="form-row">
                                        <div class="col-md-6" hidden>
                                            <div class="position-relative form-group">
                                                <label class="">Tipe</label>
                                                <input name="city" id="txtTipeSearchParamEndorsement" type="text" class="form-control" placeholder="Masukkan Nama">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label class="">Nomor Polis</label>
                                                <input name="city" id="txtNamaSearchParamEndorsement" type="text" class="form-control" placeholder="Masukkan Nomor Polis">
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="mt-2 btn btn-success pull-right" style="margin-left:10px;" id="BtnSearchEndorsement">Cari</a>
                                    <a href="javascript:void(0)" class="mt-2 btn btn-danger pull-right" id="BtnClearSearchEndorsement">Bersihkan</a>
                                </form>
                            </div>
                        </div>
                    </div>*@
                <table id="TableKlaimDiSetujui" class="display nowrap table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th style="max-width:25px">No</th>
                            <th>Aksi</th>
                            <th>
                                No Order
                            </th>
                            <th>
                                No SKK
                            </th>
                            <th>
                                No Polis
                            </th>
                            <th>
                                CIF
                            </th>
                            <th>
                                Nama Debitur
                            </th>
                            <th>
                                TSI/Total Pertanggungan
                            </th>
                            <th>
                                Nama RM
                            </th>
                            <th>
                                Status Premi Lunas dari Asuradur
                            </th>
                            <th>
                                Status Klaim
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
