﻿@model Epolis.Models.MuraianObyekPertanggungan
<style>
    .modal-dialog {
        min-width: 900px;
    }

    .select2 {
        width: 100% !important;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">View Uraian Obyek Pertanggungan</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" id="id-body">
    <form id="FormUOPdiSetujui" style="padding-top:20px;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-5 col-form-label">Waktu Kejadian </label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.TanggalKejadian, "{0:yyyy-MM-dd}", new { @class = "form-control", @value = "", @autocomplete = "off", type = "date", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-5 col-form-label">Taksiran Kerugian </label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.TaksiranKerugian, new { @class = "form-control", @value = "", @autocomplete = "off", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-3 col-form-label">Penyebab Kejadian </label>
                <div class="input-group">
                    @Html.TextAreaFor(m => m.PenyebabKejadian, new { @class = "form-control", @value = "", @autocomplete = "off", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-6 col-form-label">Kronologis Kejadian Sebagai Dasar Klaim</label>
                <div class="input-group">
                    @Html.TextAreaFor(m => m.KronologisKejadian, new { @class = "form-control", @value = "", @autocomplete = "off", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-3 col-form-label">Catatan Dari Bank</label>
                <div class="input-group">
                    @Html.TextAreaFor(m => m.CatatanDariBank, new { @class = "form-control", @value = "", @autocomplete = "off", disabled = "disabled" })
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white closeModal" data-dismiss="modal">Close</a>
    </div>
</div>







