﻿@model Epolis.Models.MvalidasiDiterima

<style>
    .modal-dialog {
        min-width: 900px;
    }

    .select2 {
        width: 100% !important;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">Edit Obyek Pertanggungan</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" id="id-body">
    <form id="FormDataObyekPertanggungan" style="padding-top:20px;">
        @Html.AntiForgeryToken()
        <div class="form-group row m-b-15 ">
            <div class="col-md-12">
                <label class="col-md-3 col-form-label">Pembayaran Klaim</label>
                <div class="input-group">
                    @Html.RadioButtonFor(m => m.PembayaranKlaim, true) &nbsp; Telah Diterima
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.PembayaranKlaim, false) &nbsp; Belum Diterima
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <div class="col-md-12">
                <label class="col-md-6 col-form-label">Tanggal Diterima Nominal Klaim</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.TanggalDiterima, "{0:yyyy-MM-dd}", new { @class = "form-control", @value = "", @autocomplete = "off", @type = "date" })
                </div>
            </div>
        </div>
    </form>

    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white closeModal" data-dismiss="modal">Close</a>
        <a href="javascript:;" class="btn btn-sm btn-success" id="BtnSubmitValidasiDiterima">Save</a>
    </div>
</div>

