﻿@model Epolis.Models.MviewClaimAsuradur

<form id="FormKlaimAsuradurDiTolak" style="padding-top:20px;">
    <div class="row">
        <div class="col-12" style="width: 100%">
            <div class="row" style="padding-top:20px;">
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="headerSearch">
                            View Klaim Asuradur Ditolak
                        </div>
                        <br />
                        <div id="smartwizard">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#step-1">
                                        <strong>Step 1</strong><br>Data Klaim Asuradur Ditolak
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#step-2">
                                        <strong>Step 2</strong><br>Banding
                                    </a>
                                </li>
                                <li class="nav-item" id="hiddenByBanding1">
                                    <a class="nav-link" href="#step-3">
                                        <strong>Step 3</strong><br>Approver
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" style="height: auto !important">
                                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="main-card mb-3 card" style="width: 98%">
                                            <div class="row" style="padding-top:20px;">
                                                <div class="col-lg-12">
                                                    <div class="headerSearch">
                                                        Data Klaim Asuradur Disetujui
                                                    </div>
                                                    <div class="card-body">
                                                        @Html.AntiForgeryToken()
                                                        @Html.HiddenFor(m => m.Id_Klaim)
                                                        <div class="form-group row m-b-15 ">
                                                            <label class="col-md-4 col-form-label">TSI/Total Pertanggungan</label>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @Html.TextAreaFor(m => m.JumlahPertanggunganText, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="width: 100%; padding: 2%">
                                                    @{
                                                        Html.RenderPartial("Table_UraianObyekPertanggunganDiTolak");
                                                    }
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="headerSearch">
                                                        Penolakan Klaim Oleh Asuradur
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row m-b-15">
                                                            <div class="col-md-12">
                                                                <label class="col-md-3 col-form-label">Nilai Klaim Yang Ditolak</label>
                                                                <div class="input-group">
                                                                    @Html.TextBoxFor(m => m.NilaiKlaimText, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-b-15">
                                                            <div class="col-md-12">
                                                                <label class="col-md-3 col-form-label">Penjelasan Asuradur</label>
                                                                <div class="input-group">
                                                                    @Html.TextAreaFor(m => m.Penjelasan, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="javascript:void(0)" class="btn btn-download fa fa-download" id="downloadDokumen" style="background-color: #0b6d7d; color: white"> Download Dokumen Pendukung</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="main-card mb-3 card" style="width: 100%">
                                            <div class="row" style="padding-top:20px;">
                                                <div class="col-lg-12">
                                                    <div class="headerSearch">
                                                        Respon BNI Terhadap Penolakan
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row m-b-15">
                                                            <div class="col-md-12">
                                                                <label class="col-md-5 col-form-label"> Keputusan BNI</label>
                                                                <div class="input-group">
                                                                    @Html.RadioButtonFor(m => m.statusKeputusan, true, new { @onclick = "DisableKeputusan()", @disabled = "disabled" })&nbsp; Menerima &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    @Html.RadioButtonFor(m => m.statusKeputusan, false, new { @onclick = "DisableKeputusan()", @disabled = "disabled" })&nbsp; Banding &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-b-15" id="hiddenByBanding2">
                                                            <div class="col-md-12">
                                                                <label class="col-md-3 col-form-label">Penjelasan Banding BNI</label>
                                                                <div class="input-group">
                                                                    @Html.TextAreaFor(m => m.penjelasanBanding, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*<div class="form-group row m-b-15" id="hiddenByBanding3">
                                                            <label class="col-md-3 col-form-label">Upload Dokumen Pendukung</label>
                                                            <div class="input-group">
                                                                <input type="file" class="custom-file-input form-control" id="InputFilePendukung" name="file" aria-describedby="inputGroupFileAddon01" onchange="inputGroupFileChangerPendukung()" multiple disabled>
                                                                <label style="margin: 15px" class="custom-file-label" for="InputFilePendukung" id="fileLabelPendukung">Choose File</label>
                                                            </div>
                                                            <label style="color: red;" hidden>File Tidak Sesuai</label>
                                                            <div id="error-file">
                                                                <div style="padding: 1px; margin: 20px">
                                                                    <p style="color:green">*Besar File Maximum untuk Upload 2000 KB</p>
                                                                    <p style="color:green">*Jenis File yang di perbolehkan untuk Upload PDF</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0)" style="width: 73px; background-color: #0b6d7d; color: white" class="input-group-text btn btn-upload" type="button" id="inputFileUploadPendukung" onclick="uploadFilePendukung()" disabled>Upload</a>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="main-card mb-3 card" style="width: 100%">
                                            <div class="row" style="padding-top:20px;">
                                                <div class="col-lg-12">
                                                    <div class="headerSearch">
                                                        Approver
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row m-b-15">
                                                            <div class="col-md-12">
                                                                <label class="col-md-3 col-form-label">Reviewer</label>
                                                                <div class="input-group">
                                                                    @Html.DropDownListFor(m => m.Id_ApproverUB, (IEnumerable<SelectListItem>)ViewBag.Id_Reviewer, "-Silahkan pilih-", new { @class = "form-control", @style = "width: 100%", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-b-15">
                                                            <div class="col-md-12">
                                                                <label class="col-md-3 col-form-label">Approver</label>
                                                                <div class="input-group">
                                                                    @Html.DropDownListFor(m => m.Id_ReviewerUB, (IEnumerable<SelectListItem>)ViewBag.Id_Approver, "-Silahkan pilih-", new { @class = "form-control", @style = "width: 100%", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-b-15">
                                                            <div class="col-md-12">
                                                                <label class="col-md-3 col-form-label">Inputer ADK</label>
                                                                <div class="input-group">
                                                                    @Html.DropDownListFor(m => m.Id_InputerADK, (IEnumerable<SelectListItem>)ViewBag.Id_InputerADK, "-Silahkan pilih-", new { @class = "form-control", @style = "width: 100%", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-b-15">
                                                            <div class="col-md-12">
                                                                <label class="col-md-3 col-form-label">Komentar</label>
                                                                <div class="input-group">
                                                                    @Html.TextAreaFor(m => m.komentar, new { @class = "form-control", @value = "", @autocomplete = "off" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" class="btn btn-sm btn-white backIndex" onclick="BackDraft()">Tutup</a>
                                <a href="javascript:;" class="btn btn-sm btn-danger" id="BtnRejectValidasiDitolak">Reject</a>
                                <a href="javascript:;" class="btn btn-sm btn-success" id="BtnApproveValidasiDitolak">Approve</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    .sw > .tab-content {
        height: auto !important
    }
</style>