﻿@model Epolis.Models.MviewClaimAsuradur

<div class="row">
    <div class="col-12" style="width: 100%">
        <div class="col-lg-12">
            <form id="FormKlaimAsuradurDiSetujui" style="padding-top:20px;">
                <div class="row" style="padding-top: 20px;">
                    <div class="main-card mb-3 card" style="width: 98%">
                        <div class="row" style="padding-top:20px;">
                            <div class="col-lg-12">
                                <div class="headerSearch" style="margin-top:-35px">
                                    Data Klaim Asuradur Disetujui
                                </div>
                                <div class="card-body">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.Id_Klaim)
                                    <div class="form-group row m-b-15 ">
                                        <label class="col-md-4 col-form-label">TSI/Total Pertanggungan</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextAreaFor(m => m.JumlahPertanggunganText, new { @class = "form-control", @value = "", @autocomplete = "off", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%; padding: 2%">
                                @{
                                    Html.RenderPartial("Table_UraianObyekPertanggunganDiSetujui");
                                }
                            </div>
                            <div class="col-lg-12">
                                <div class="headerSearch">
                                    Persetujuan Klaim Oleh Asuradur
                                </div>
                                <div class="card-body">
                                    <div class="form-group row m-b-15">
                                        <div class="col-md-12">
                                            <label class="col-md-3 col-form-label">Nilai Klaim Yang Disetujui</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.NilaiKlaimText, new { @class = "form-control", @value = "", @autocomplete = "off", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <div class="col-md-12">
                                            <label class="col-md-3 col-form-label">Tanggal Pembayaran</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.TanggalPembayaran, "{0:yyyy-MM-dd}", new { @class = "form-control", @value = "", @autocomplete = "off", @type = "date", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <div class="col-md-12">
                                            <label class="col-md-3 col-form-label">Dibayarkan Pada Rekening Nomor</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.NomorRekeningTujuan, new { @class = "form-control", @value = "", @autocomplete = "off", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <div class="col-md-12">
                                            <label class="col-md-3 col-form-label">Rekening Atas Nama </label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.NamaRekening, new { @class = "form-control", @value = "", @autocomplete = "off", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-15">
                                        <div class="col-md-12">
                                            <label class="col-md-3 col-form-label">Penjelasan Asuradur</label>
                                            <div class="input-group">
                                                @Html.TextAreaFor(m => m.Penjelasan, new { @class = "form-control", @value = "", @autocomplete = "off", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-sm btn-white backIndex" onclick="BackDraft()">Tutup</a>
            <a href="javascript:;" class="btn btn-sm btn-success" onclick="CreateValidasiDiTerima()">Validasi Nominal Klaim</a>
        </div>
    </div>
</div>
<style>
    .sw > .tab-content {
        height: auto !important
    }
</style>