﻿@model IEnumerable<Epolis.Models.ViewModelPenutupan>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DAFTAR APPROVAL DATA PENUTUPAN</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <br />
        <table style="width: 100%;" id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>
                        Nama Unit
                    </th>
                    <th>
                        No. Order Penutupan
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tpenutupan.TGLINPUT)
                    </th>
                    <th>
                        No. SKK
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tpenutupan.TGLSKK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tpenutupan.NOPK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tpenutupan.TGLPK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tpenutupan.tnasabahID)
                    </th>
                    <th>
                        TSI / Total Pertanggungan
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tpenutupan.STATUS)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                    foreach (var item in Model)
                    {
                        var conc = item.Tpenutupan.USERUNITBISNISID + '-' + item.Tpenutupan.NAMAUNIT;
                        <tr>
                            <td style="text-align:center">
                                @{ sno++; }
                                @sno
                            </td>
                            <td style="width: auto;">

                                @Html.DisplayFor(modelItem => conc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tpenutupan.NOREGPENUTUPAN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tpenutupan.TGLINPUT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tpenutupan.NOSKK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tpenutupan.TGLSKK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tpenutupan.NOPK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tpenutupan.TGLPK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tnasabah.NAMA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tpertanggungan.NILAIPERTANGGUNGAN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mlookup.VALUE)
                            </td>
                            <td style="text-align:center">
                                <a asp-action="Approval" asp-route-id="@item.Tpenutupan.ID" data-toggle="tooltip" title="Approve" class="btn btn-detail">Approve</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>