﻿@model Epolis.Models.MTableNoPolis
<div class="row" style="padding-top:20px;">
    @{ Html.RenderPartial("_TableNoPolis"); }
</div>
<div class="row" style="padding-top:20px;">
    @{ Html.RenderPartial("_TermPembayaranPremi"); }
</div>
<div class="row" style="padding-top:20px;">
    @{ Html.RenderPartial("_JadwalPembayaranPremi"); }
</div>
<div class="position-relative row form-check">
    <div class="col-sm-9 offset-sm-2">
        <button class="btn btn-save pull-right">Simpan</button>
    </div>
</div>
<a asp-action="Index" class="btn btn-dark pull-left">Kembali</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
