﻿@model Epolis.Models.MTablePenyelesaianPremi
<style>
    .modal-dialog {
        min-width: 900px;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">Tambah Jadwal</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" id="id-body">
    <div class="row" style="padding-top:20px;">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Tambah Jadwal
                </div>
                <div class="card-body">
                    <form asp-action="Create" autocomplete="off" style="padding-top:20px;">
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Tanggal Pembayaran<span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.TanggalBayar, new { @class = "form-control", @value = "", @autocomplete = "off", @type="date" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Nominal Pembayaran Premi<span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.PembayaranNominal, new { @class = "form-control", @value = "", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Keterangan<span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control", @value = "", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-success input-group-text" type="button" id="inputFileUploadPendukung" onclick="uploadFilePendukung()">Simpan</button>
        <a href="javascript:;" class="btn btn-sm btn-white closeModal" data-dismiss="modal">Close</a>
    </div>
</div>

@section scripts{
    @Html.Partial("_Script")
}