﻿@model Epolis.Models.MTablePenyelesaianPremi
<style>
    .modal-dialog {
        min-width: 900px;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">Pencatatan Pembayaran Premi</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" id="id-body">
    <div class="row" style="padding-top:20px;">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Pencatatan Pembayaran Premi
                </div>
                <div class="card-body">
                    <form asp-action="Create" autocomplete="off" style="padding-top:20px;">
                        <div class="position-relative row form-group">
                            <label class="col-sm-2 col-form-label">Metode Pembayaran</label>
                            <p style="color:red">*</p>
                            <div class="col-sm-9">
                                <select id="cbPaymenttype" class="form-control">
                                    <option>Pilih</option>
                                    <option value="Pemindahbukuan">Perintah Pemindahbukuan Oleh BNI</option>
                                    <option value="Dibayar">Dibayar langsung oleh debitur</option>
                                    <option value="Kompensasi">Kompensasi dari asuradur</option>
                                    <option value="Reward">Reward dari asuradur</option>
                                    <option value="List">dst... List pada parameter</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Telah Dibayarkan Tanggal <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input class="form-control" />
                                    @Html.TextBoxFor(model => model.TanggalBayar, new { @class = "form-control", @value = "", @autocomplete = "off", @type="date" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Catatan Dari Bank untuk Asuradur <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input class="form-control" />
                                    @*@Html.TextBoxFor(model => model.TYPE, new { @class = "form-control", @value = "", @autocomplete = "off" })*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Upload Dokumen Pendukung (Maks 4MB/Upload (.pdf, .jpg, .jpeg, .png. .bmp)) <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input class="form-control" type="file"/>
                                    @*@Html.TextBoxFor(model => model.TYPE, new { @class = "form-control", @value = "", @autocomplete = "off" })*@
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-success input-group-text" type="button" id="inputFileUploadPendukung" onclick="uploadFilePendukung()">Simpan</button>
        <a href="javascript:;" class="btn btn-sm btn-white closeModal" data-dismiss="modal">Close</a>
    </div>
</div>

@section scripts{
    @Html.Partial("_Script")
}