﻿@model Epolis.Models.MTablePenyelesaianPremi

<div id="DivContentBody">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Jadwal Pembayaran Premi
            </div>
            <div class="card-body">
                <form autocomplete="off" style="padding-top:20px;">
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Rekening Pembayaran<span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.NoRekBayar, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Rekening Atas Nama<span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.AtasNamaRek, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Jumlah Angsuran Yang Disetujui Asuradur (Beberapa Kali)<span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group" id="jumlahAngsuran">
                                @Html.TextBoxFor(model => model.JumlahAngsuran, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>

                    <div style="padding-top:20px;">
                        <a href="javascript:void(0)" class="btn-lg btn-add fa fa-plus-square" style="margin-left:10px;" onclick="CreateJadwalPremi()"></a>
                    </div>
                    <br />
                    <table style="width: 100%;" id="TableJadwal" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>Tanggal Jadwal Pembayaran Premi</th>
                                <th>No Rekening</th>
                                <th>Nama Rekening</th>
                                <th>Nominal Bayar Premi</th>
                                <th>Pembayaran Ke</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>
<div id="DivFormBody">
</div>
