﻿<script type="text/javascript">
    var State = '';
    var TablePolis;
    var TableTagihanPremi;
    var TablePenyelesaianPremi;
    $(document).ready(function () {
        LoadWizzard();
        //LoadDataTablePolis();
        LoadDataTableTagihanPremi();
        LoadDataTablePenyelesaianPremi();
    });

    function LoadDataTableTagihanPremi(data) {
        debugger;
        TableTagihanPremi = $('#TableTagihanPremi').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Premi/LoadTableTagihanPremi")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number","name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><button class="btn btn-success fa fa-eye" id="button-edit" onclick="ViewPerincianTagihan(' + full.id + ',' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data">View</button>'
                }
            },
            { responsivePriority: 3, "data": "namaAsuradur", "name": "namaAsuradur" },
            { responsivePriority: 4, "data": "namaBroker", "name": "namaBroker" },
            { responsivePriority: 5, "data": "noPolis", "name": "noPolis" },
            { responsivePriority: 6, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 7, "data": "tanggalTerbitPolis", "name": "tanggalTerbitPolis" },
            { responsivePriority: 8, "data": "tanggalJatuhTempo", "name": "tanggalJatuhTempo" },
            { responsivePriority: 9, "data": "totalPertanggungan", "name": "totalPertanggungan" },

        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            TableTagihanPremi.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableTagihanPremi.columns(3).search($('#txtNamaSearchParam').val().trim());


            //hit search ke server
            TableTagihanPremi.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TableTagihanPremi.columns(2).search($('#txtTipeSearchParam').val().trim());
            TableTagihanPremi.columns(3).search($('#txtNamaSearchParam').val().trim());
            //hit search ke server
            TableTagihanPremi.draw();
        });

        TableTagihanPremi.columns.adjust().responsive.recalc();
    }

    function LoadDataTablePenyelesaianPremi(data) {
        debugger;
        TablePenyelesaianPremi = $('#TablePenyelesaianPremi').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Premi/LoadTablePenyelesaianPremi")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number","name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="EditPenyelesaian(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="ViewPenyelesaianPremi(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="DeletePenyelesaian(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                }
            },
            { responsivePriority: 3, "data": "noPolis", "name": "noPolis" },
            { responsivePriority: 4, "data": "jenisPembayaran", "name": "jenisPembayaran" },
            { responsivePriority: 5, "data": "tagihan", "name": "tagihan" },
            { responsivePriority: 6, "data": "pembayaranNominal", "name": "pembayaranNominal" },
            { responsivePriority: 7, "data": "tanggalBayar", "name": "tanggalBayar" },
            { responsivePriority: 8, "data": "bayarKe", "name": "bayarKe" },

        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            TablePenyelesaianPremi.columns(2).search($('#txtTipeSearchParam').val().trim());
            TablePenyelesaianPremi.columns(3).search($('#txtNamaSearchParam').val().trim());


            //hit search ke server
            TablePenyelesaianPremi.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TablePenyelesaianPremi.columns(2).search($('#txtTipeSearchParam').val().trim());
            TablePenyelesaianPremi.columns(3).search($('#txtNamaSearchParam').val().trim());
            //hit search ke server
            TablePenyelesaianPremi.draw();
        });

        TablePenyelesaianPremi.columns.adjust().responsive.recalc();
    }

    function LoadDataTablePolis(data) {
        debugger;
        TablePolis = $('#TablePolis').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/Premi/LoadTablePolis")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    debugger;
                    var str = full.noPolis;
                    if (str != null) {
                        var NP = str.replaceAll(".", "!");
                    }
                    return '<div class="btn-group"><button class="btn btn-edit" id="button-edit" onclick=GetDataPolis("' + full.id + '","' + full.namaAsuradur + '","' + full.namaBroker + '","' + NP + '","' + full.namaDebitur + '", "' + full.jumlahAngsuran + '", "' + full.pembayaran + '") style="margin-right:5px;" data-toggle="tooltip" title="Pilih Data">Pilih</button>'
                }
            },
            { responsivePriority: 3, "data": "namaAsuradur", "name": "namaAsuradur" },
            { responsivePriority: 4, "data": "namaBroker", "name": "namaBroker" },
            { responsivePriority: 5, "data": "noPolis", "name": "noPolis" },
            { responsivePriority: 6, "data": "namaDebitur", "name": "namaDebitur" },
            { responsivePriority: 7, "data": "jumlahAngsuran", "name": "jumlahAngsuran", "visible": false  },
            { responsivePriority: 8, "data": "pembayaran", "name": "pembayaran", "visible": false  },


        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        //oTable = $('#Table').DataTable();
        $('#BtnSearch').click(function () {
            TablePolis.columns(2).search($('#txtTipeSearchParam').val().trim());
            TablePolis.columns(3).search($('#txtNamaSearchParam').val().trim());


            //hit search ke server
            TablePolis.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearch').click(function () {
            $('#txtTipeSearchParam').val("");
            $('#txtNamaSearchParam').val("");

            TablePolis.columns(2).search($('#txtTipeSearchParam').val().trim());
            TablePolis.columns(3).search($('#txtNamaSearchParam').val().trim());
            //hit search ke server
            TablePolis.draw();
        });

        TablePolis.columns.adjust().responsive.recalc();
    }

    function LoadWizzard() {
        // Smart Wizard
        $('#smartwizard').smartWizard({
            //selected: 1,
            theme: 'default',
            autoAdjustHeight: true,
            transition: {
                animation: 'slide-horizontal', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
            },
            toolbarSettings: {
                /*toolbarPosition: 'bottom', */// both bottom
                //toolbarExtraButtons: [btnDraft, btnSimpan]
            },
            enableFinishButton: false,
            useURLhash: false,
            showStepURLhash: false,
            anchorSettings: {
                anchorClickable: true,
                // Enable/Disable anchor navigation
                enableAllAnchors: true,
                // Activates all anchors clickable all times
                markDoneStep: true,
                // Add done state on navigation
                markAllPreviousStepsAsDone: true,
                // When a step selected by url hash, all previous steps are marked done
                removeDoneStepOnNavigateBack: false,
                // While navigate back done step after active step will be cleared
                enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation

            },
            keyboardSettings: {
                keyNavigation: false,
                // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                keyLeft: [37],
                // Left key code
                keyRight: [39] // Right key code

            },
        });
    }

    function GetDataPolis(id, NamaAsuradur, NamaBroker, NoPolis, NamaDebitur, jumlahAngsuran, pembayaran) {
        //$('#NomorPolisLama').val(noPolisLama.replaceAll("!", "."));
        //$('#NoPK').val(noPK.replaceAll("!", " "));
        document.getElementById("jumlahAngsuran").value = jumlahAngsuran;
        //document.getElementById("myText").value = pembayaran;

    }

    function CreateJadwalPremi() {
        //debugger;
        ShowModal('bd-example-modal-lg');
        UrlPartialView = '@Url.Content("~/Premi/CreateJadwalPremi")';
        LoadPartialViewData(UrlPartialView, function (data) {
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false
            });
            //$('#DivContentBody').hide();
            //document.getElementById("DivFormBody").innerHTML = data;
        });
    }

    function CreatePencatatanPremi() {
        ShowModal('bd-example-modal-lg');
        UrlPartialView = '@Url.Content("~/Premi/CreatePencatatanPremi")';
        LoadPartialViewData(UrlPartialView, function (data) {
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    }

    function ViewPerincianTagihan(id, Id) {
        debugger;
        //ShowModal('bd-example-modal-lg');
        SearchData = { "id": id }
        UrlPartialView = '@Url.Content("~/Premi/ViewPerincianTagihan")';
        LoadPartialViewData(UrlPartialView, function (data) {
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
        }, SearchData);
    }

    function ViewPenyelesaianPremi(id) {
        //debugger;
        //ShowModal('bd-example-modal-lg');
        SearchData = { "id": id }
        UrlPartialView = '@Url.Content("~/Premi/ViewPenyelesaianPremi")';
        LoadPartialViewData(UrlPartialView, function (data) {
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
        }, SearchData);
    }

    function CreatePenyelesaianPremi() {
        debugger;
        UrlPartialView = '@Url.Content("~/Premi/CreatePenyelesaianPremi")';
        LoadPartialViewData(UrlPartialView, function (data) {
            DivContentBody.style.display = 'none';
            DivFormBody.innerHTML = data;
            LoadDataTablePolis();
        });
    }



    function ChoosePolis() {
        ShowModal('bd-example-modal-lg');
        //State = "create";
        //UrlPartialView = '../IkhtisarPertanggungan/ViewOffline';
        //Cek session masih aktif atau tidak
        //$.ajax({
        //    type: 'GET',
        //    url: '../Login/CekSession',
        //    success: function (hasil) {
        //        if (hasil == true) {
        //            LoadPartialViewData(UrlPartialView, function (data) {
        //                var modalbody = $('#LoadContent');
        //                modalbody.html(data);
        //                $('#ModalForm').modal({
        //                    backdrop: 'static',
        //                    keyboard: false
        //                });



        //            });
        //        }
        //        else {
        //            window.location.href = "../Login/Login?a=true";
        //        }
        //    }
        //});
        var modalbody = $('#LoadContent');
        modalbody.html(data);
        $('#ModalForm').modal({
            backdrop: 'static',
            keyboard: false
        });
    }

</script>