﻿<div class="col-lg-12">
    <div class="main-card mb-3 card">
        <div class="headerSearch">
            Pilih No Polis
        </div>
        <div class="card-body">
            <table style="width: 100%;" id="TablePolis" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Action</th>
                        <th>Nama Asuradur</th>
                        <th>Nama Broker</th>
                        <th>No Polis</th>
                        <th>Nama Debitur</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
