﻿<div class="col-lg-12">
    <div class="main-card mb-3 card">
        <div class="headerSearch">
            Term Pembayaran Premi
        </div>
        <div class="card-body">
            <div class="form-group row m-b-15" style="padding-top:20px;">
                <label class="col-md-3 col-form-label">Jenis Pemayaran Premi<span class="labelMandatory">*</span></label>
                <div class="col-md-9">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="Full" name="jenisPembayaran" onclick="cekJenisPembayaran()" readonly>
                        <label class="form-check-label" for="Full">Sekaligus / Full Payment</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="Installment" name="jenisPembayaran" onclick="cekJenisPembayaran()" readonly>
                        <label class="form-check-label" for="Installment">Tetap / Installment Payment</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="PartialPayment" name="jenisPembayaran" onclick="cekJenisPembayaran()" readonly>
                        <label class="form-check-label" for="PartialPayment">Per Bagian / Partial Payment</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>