﻿@model Epolis.Models.MTablePenyelesaianPremi

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">View Penyelesaian Premi</div>
    </div>
</div>
<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Penyelesaian Premi
            </div>
            <div class="card-body" style="padding-top:20px;">
                <form autocomplete="off" style="padding-top:20px;">

                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">No Polis <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.NoPolis, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Metode Pembayaran <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.JenisPembayaran, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">No Rekening <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.NoRekBayar, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Rekening Atas Nama  <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.AtasNamaRek, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Jumlah Angsuran yang Disetujui <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.JumlahAngsuran, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Tanggal Pembayaran <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.TanggalBayar, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Nominal Pembayaran Premi <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.PembayaranNominal, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Keterangan <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.JumlahAngsuran, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="position-relative row form-check">
    <div class="col-sm-9 offset-sm-2">
        <a asp-action="Index" class="btn btn-dark pull-right">Kembali</a>
        @*<button class="btn btn-save pull-right">Kembali</button>*@
    </div>
</div>
