﻿@model Epolis.Models.MTagihanPremi

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">View Perincian Tagihan</div>
    </div>
</div>
<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Perhitungan Premi
            </div>
            <div class="card-body" style="padding-top:20px;">
                <form autocomplete="off" style="padding-top:20px;">
                    <div class="form-group row" style="margin-left:20px;">
                        <div class="form-group row m-b-15">
                            <label class="col-md-4 col-form-label">Valuta <span class="labelMandatory">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    @*<input class="form-control" />*@
                                    @Html.TextBoxFor(model => model.Valuta, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15" style="margin-left:10px;">
                            <label class="col-md-4 col-form-label">Nilai Premi <span class="labelMandatory">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    @*<input class="form-control" />*@
                                    @Html.TextBoxFor(model => model.NilaiPremi, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Tarif Premi (%) <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.TarifPremi, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Metode Pembayaran <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.MetodePembayaran, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">No Giro Asuradur <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.NoGiroAsuradur, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">BNI Kantor Cabang <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.BnikantorCabang, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="position-relative row form-check">
    <div class="col-sm-9 offset-sm-2">
        <a asp-action="Index" class="btn btn-dark pull-right">Kembali</a>
        @*<button class="btn btn-save pull-right">Kembali</button>*@
    </div>
</div>
