﻿@model Epolis.Models.TPremi
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;
@{ ViewData["Title"] = "Create";
    ViewBag.ID = Context.Session.GetInt32("ID"); }
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card" style="padding-top:40px;">
            <div class="headerSearch">
                Pilih No Polis
            </div>
            <div class="card-body">
                <table style="width: 100%;" id="table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>
                                Nama Asuradur
                            </th>
                            <th>
                                No Polis
                            </th>
                            <th>
                                Nama Broker
                            </th>
                            <th>
                                Nama Debitur
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="main-card mb-3 card" style="padding-top:20px;">
            <div class="headerSearch">
                Term Pembayaran Premi
            </div>
            <div class="card-body">
                <form asp-action="Create" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Jadwal Pembayran Premi</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-6 input-group" style="flex-direction:column;">
                            @Html.RadioButtonFor(model => model.ISACTIVE, true, new { }) &nbsp; Sekaligus / Full Payment
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.ISACTIVE, false, new { }) &nbsp; Tetap / Installment Payment
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.ISACTIVE, false, new { }) &nbsp; Per Bagian / Partial Payment
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>*@
                    <div class="position-relative row form-group m-b-15 ">
                        <label class="col-md-4 col-form-label">Jadwal Pembayran Premi</label>
                        <div class="col-md-8 row">
                            <div class="input-group">
                                @Html.RadioButtonFor(model => model.ISACTIVE, "true") &nbsp; Sekaligus / Full Payment
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.ISACTIVE, "false") &nbsp; Tetap / Installment Payment
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.ISACTIVE, "false") &nbsp; Per Bagian / Partial Payment
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Jadwal Pembayaran Premi
            </div>
            <div class="card-body">
                <form asp-action="Create" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-2 col-form-label">No Rekening Bayar</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <input asp-for="NamaAsuradur" class="form-control" />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-2 col-form-label">Rekening Atas Nama</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <input asp-for="NamaAsuradur" class="form-control" readonly />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-2 col-form-label">Jumlah Angsuran Yang Disetujui Asuradur (Beberapa Kali)</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <input asp-for="NamaAsuradur" class="form-control" readonly />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>

                    <div style="padding-top:20px;">
                        <a asp-action="Create" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
                    </div>
                    <br />
                    <table style="width: 100%;" id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>
                                    Tanggal Jadwal Pembayaran Premi
                                </th>
                                <th>
                                    No Rekening
                                </th>
                                <th>
                                    Nama Rekening
                                </th>
                                <th>
                                    Nominal Bayar Premi
                                </th>
                                <th>
                                    Nominal Bayar Premi
                                </th>
                                <th>
                                    Pembayaran Ke
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="position-relative row form-group" style="padding-top:20px;">
                        <label class="col-sm-2 col-form-label">Tanggal Pembayaran</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <input asp-for="NamaAsuradur" class="form-control" />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-2 col-form-label">Nominal Pembayaran Premi</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <input asp-for="NamaAsuradur" class="form-control" />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-2 col-form-label">Keterangan</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <input asp-for="NamaAsuradur" class="form-control" />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Pencatatan Pembayaran Premi
            </div>
            <div class="card-body">
                <form asp-action="Create" autocomplete="off" style="padding-top:20px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-2 col-form-label">Metode Pembayaran</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <select id="cbPaymenttype" class="form-control">
                                <option>Pilih Pembayaran</option>
                                <option value="Full">Full Payment</option>
                                <option value="Installment">Installment</option>
                                <option value="Partial">Partial Payment</option>
                            </select>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-2 col-form-label">Telah Dibayarkan Tanggal</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <input type="date" asp-for="NamaAsuradur" class="form-control" readonly />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-2 col-form-label">Catatan Dari Bank untuk Asuradur</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-9">
                            <input asp-for="NamaAsuradur" class="form-control" />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Upload Dokumen Pendukung (Maks 4MB/Upload (.pdf, .jpg, .jpeg, .png. .bmp))</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input type="file" asp-for="NamaAsuradur" class="form-control" />
                            <span asp-validation-for="NamaAsuradur" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="position-relative row form-check">
    <div class="col-sm-9 offset-sm-2">
        <button class="btn btn-save pull-right">Kirim Perintah Bayar ke E-Settlement</button>
    </div>
</div>
<a asp-action="Index" class="btn btn-dark pull-left">Kembali</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
