﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">IKHTISAR PERTANGGUNGAN</div>
    </div>
</div>
<div class="row">
    <div class="card-body">
        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
            <li class="nav-item">
                <a role="tab" class="nav-link active show" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="true">
                    @*onclick="LoadDataTable()">*@
                    <span>Kerugian</span>
                </a>
            </li>
            <li class="nav-item">
                <a role="tab" class="nav-link show" id="tab-1" data-toggle="tab" href="#tab-content-1" aria-selected="false">
                    @*onclick="LoadDataTableWaitingApproval()">*@
                    <span>Kredit</span>
                </a>
            </li>
            <li class="nav-item">
                <a role="tab" class="nav-link show" id="tab-2" data-toggle="tab" href="#tab-content-2" aria-selected="false">
                    @*onclick="LoadDataTableWaitingApproval()">*@
                    <span>Jiwa</span>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane tabs-animation fade active show" id="tab-content-0" role="tabpanel">
                <div id="smartwizard">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#step-1">
                                <strong>Kerugian Online</strong>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#step-2">
                                <strong>Kerugian Offline</strong>
                            </a>
                    </ul>
                    <div class="tab-content" style="height: auto !important">
                        <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                            @{
                                Html.RenderPartial("KerugianOnline");
                            }
                        </div>
                        <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                            @{
                                Html.RenderPartial("KerugianOffline");
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                <h4>Kredit</h4>
            </div>

            <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
                <h4>Jiwa</h4>
            </div>
        </div>
    </div>
</div>



<style>
    .sw > .tab-content {
        height: auto !important
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .fab {
        position: fixed;
        bottom: 20px;
        right: 20px;
        clip-path: circle();
        height: 40px;
        width: 40px;
        z-index: 999;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    }

    .addButton {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .select2 {
        height: 30px;
    }

    .headerSearch {
        background-color: #3f6ad8;
        width: 50%;
        position: absolute;
        margin-top: -20px;
        margin-left: 20px;
        height: 35px;
        border-radius: .25rem;
        text-align: left;
        padding-left: 10px;
        padding-top: 5px;
        color: white;
    }

    .dataTables_wrapper {
        zoom: 0.9 !important;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
        background-color: #3f6ad8;
    }

    .select2-container .select2-selection--single {
        height: 35px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-top: 5px;
        color: #495057;
        /*border: 1px solid #ced4da;*/
    }

    .input-group {
        margin-bottom: 5px;
    }

    select[name=Table_length] {
        height: 35px;
    }
</style>
@section styles{
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/extensions/Select/css/select.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/select2/dist/css/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/jquery-smartwizard-master/dist/css/smart_wizard_all.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/extensions/Select/js/dataTables.select.min.js")"></script>
    <script src="@Url.Content("~/plugin/select2/dist/js/select2.min.js")"></script>
    <script src="@Url.Content("~/plugin/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/plugin/jquery-smartwizard-master/dist/js/jquery.smartWizard.min.js")"></script>
    @Html.Partial("_Script")

}