﻿<div class="main-card card col-lg-12">
    <div class="card-body">
        <div>
            <a asp-action="ViewBelum" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
        </div>
        <br />
        <table style="width: 100%;" id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>
                        Periode Jatuh Tempo
                    </th>
                    <th>
                        No Polis
                    </th>
                    <th>
                        Nama Tertanggung
                    </th>
                    <th>
                        TSI
                    </th>
                    <th>
                        Premi Belum Dibayarkan
                    </th>
                    <th>
                        Nama Asuradur
                    </th>
                    <th>
                        Nama RM
                    </th>
                    <th>
                        Alasan
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center">
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.NamaAsuradur)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.NamaBroker)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.NoPolis)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.NamaDebitur)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.TanggalTerbitPolis)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.TanggalJatuhTempoPolis)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.TotalPertanggungan)*@
                    </td>
                    <td style="width: 15px;text-align: center">
                        @*<a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit" id=""></a> |
                            <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-detail fa fa-eye"></a> |
                            <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-delete fa fa-trash" onclick="return confirm('Hapus data ini?')"></a>*@
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>

    .addButton {
        position: fixed;
        bottom: 30px;
        right: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .select2 {
        height: 30px;
    }

    .headerSearch {
        background-color: #3f6ad8;
        width: 50%;
        position: absolute;
        margin-top: -20px;
        margin-left: 20px;
        height: 35px;
        border-radius: .25rem;
        text-align: left;
        padding-left: 10px;
        padding-top: 5px;
        color: white;
    }

    .dataTables_wrapper {
        zoom: 0.9 !important;
    }

    .input-group {
        margin-bottom: 5px;
    }

    select[name=Table_length] {
        height: 35px;
    }
</style>
@section styles{
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/extensions/Select/css/select.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/select2/dist/css/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/jquery-smartwizard-master/dist/css/smart_wizard_all.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/extensions/Select/js/dataTables.select.min.js")"></script>
    <script src="@Url.Content("~/plugin/select2/dist/js/select2.min.js")"></script>
    <script src="@Url.Content("~/plugin/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/plugin/jquery-smartwizard-master/dist/js/jquery.smartWizard.min.js")"></script>
    @Html.Partial("_Script")
}