﻿@model Epolis.Models.MTagihanPremi

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                View Data Premi Belum Diselesaikan
            </div>
            <div class="card-body" style="padding-top:20px;">
                <form autocomplete="off" style="padding-top:20px;">
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Nomor Polis <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.TarifPremi, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Nama Tertanggung Debitur <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextBoxFor(model => model.TarifPremi, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Alasan Premi Belum Dibayar <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*<input class="form-control" />*@
                                @Html.TextAreaFor(model => model.TarifPremi, new { @class = "form-control", @value = "", @autocomplete = "off", @disabled = "disable" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<a asp-action="Index" class="btn btn-dark pull-right">Kembali</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
