﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Epolis.Component
@using Microsoft.AspNetCore.Http;

@{
    var token = Context.Session.GetString(SessionConstan.Session_Tokken);
    var apiUploadFilePendukung = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:uploadDataPendukungObjekKlaim"];
    var apiDeleteFilePendukung = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:deleteDataPendukungObjekKlaim"];
    var apiSubmitKlaimObjek = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:submitKlaimObjek"];
    var apiSubmitKlaim = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:submitKlaim"];
    var apiApproveKlaim = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:approveKlaim"];
    var apiRejectKlaim = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:rejectKlaim"];
    var apiSaveAsDraftKlaim = ConfigDataAccess.Configuration["baseAPI"] + ConfigDataAccess.Configuration["urlapi:Mklaim:draftKlaim"];
}
<script>

    var TableTracking;

    $(document).ready(function () {
        //LoadDataTable_TrackingKlaim();
    });

    function LoadDataTable_TrackingKlaim(data) {
        TableTracking = $('#table_indexKlaimKerugian').DataTable({
        fixedHeader: {
            header: true
        },
        pageLength: 10,
        destroy: true,
        orderCellsTop: true,
        responsive: true,
        processing: true, // untuk menampilkan bar prosessing
        serverSide: true, // untuk proses server side datatable harus diset true
        orderMulti: false, // untuk disable multi order column
        retrieve: true,
        //autoWidth: true,
        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
        //data: data,
        ajax: {
            "url": '@Url.Content("~/TrackingKlaim/LoadTableTracking")',
            "type": "POST",
            "datatype": "json",
            error: function (jqXHR, textStatus, errorThrown) {
                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
            }
        },
        language: {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
            paginate: {
                first: "Halaman Awal",
                last: "Halaman Akhir",
                previous: "Halaman Sebelumnya",
                next: "Halaman Selanjutnya",
            },
            lengthMenu: "Menampilkan _MENU_ Data",
            emptyTable: "Data tidak ditemukan",
            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
            zeroRecords: "Data tidak ditemukan"
        },
        columns: [
            { responsivePriority: 1, "data": "number", "name": "number", "orderable": false, "className": "text-center" },
            {
                responsivePriority: 2,
                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                    return '<div class="btn-group"><button class="btn btn-edit fa fa-edit" id="button-edit" onclick="EditEndorsement(' + full.id + ', ' + full.id_Endorsement + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"> Ubah Data</button>'
                }
            },
            { responsivePriority: 3, "data": "lokasiObjekPertanggungan", "name": "lokasiObjekPertanggungan" },
            { responsivePriority: 4, "data": "totalNilaiPertanggungan", "name": "totalNilaiPertanggungan" },
            { responsivePriority: 5, "data": "taksiranKerugian", "name": "taksiranKerugian" },
            { responsivePriority: 6, "data": "id_Reviewer", "name": "id_Reviewer" },
            { responsivePriority: 7, "data": "id_Approver", "name": "id_Approver" },
            { responsivePriority: 8, "data": "id_InputerAdk", "name": "id_InputerAdk" },
            { responsivePriority: 9, "data": "id_Status", "name": "id_Status" },
            { responsivePriority: 10, "data": "id_ReviewerAdk", "name": "id_ReviewerAdk" }
        ],
        "order": [[1, "desc"]]
        });

        //$.fn.dataTable.ext.errMode = 'throw';

        //--------------------------Function untuk melempar parameter search ---------------------//
        //Untuk melempar parameter search
        oTable = $('#table_indexKlaimKerugian').DataTable();
        $('#BtnSearchEndorsement').click(function () {
            TableTracking.columns(2).search($('#txtTipeSearchParamEndorsement').val().trim());
            TableTracking.columns(3).search($('#txtNamaSearchParamEndorsement').val().trim());

            //hit search ke server
            TableTracking.draw();
        });


        //---------------------Function untuk reset data pencarian----------------//
        $('#BtnClearSearchEndorsement').click(function () {
            $('#txtTipeSearchParamEndorsement').val("");
            $('#txtNamaSearchParamEndorsement').val("");

            TableTracking.columns(2).search($('#txtTipeSearchParamEndorsement').val().trim());
            TableTracking.columns(3).search($('#txtNamaSearchParamEndorsement').val().trim());

            //hit search ke server
            TableTracking.draw();
        });

        TableTracking.columns.adjust().responsive.recalc();
    }
    function ViewTracking() {

    }
</script>
