﻿@model IEnumerable<Epolis.Models.Tkontrakasuransi>

@{
    ViewData["Title"] = "Index";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DAFTAR RATE PREMI</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <div>
            <a asp-action="Create" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
        </div>
        <br />
        <table id="table" style="width: 100%;" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>
                        @Html.DisplayNameFor(model => model.MPERUSAHAANASURANSIID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MJENISASURANSIID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MOKUPASIID)
                    </th>
                    <th style="width:15px">
                        @Html.DisplayNameFor(model => model.STDKELAS1)
                    </th>
                    <th style="width:15px">
                        @Html.DisplayNameFor(model => model.STDKELAS2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RESIKO)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center">
                            @{ sno++; }
                            @sno
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MPERUSAHAANASURANSIID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MJENISASURANSIID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MOKUPASIID)
                        </td>
                        <td style="width:15px;text-align:center">
                            @Html.DisplayFor(modelItem => item.STDKELAS1)
                        </td>
                        <td style="width: 15px;text-align: center">
                            @Html.DisplayFor(modelItem => item.STDKELAS2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RESIKO)
                        </td>
                        <td style="text-align:center">
                            <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit"></a> |
                            <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-detail fa fa-eye"></a> |
                            <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-delete fa fa-trash" onclick="return confirm('Hapus data ini?')"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
