﻿@model Epolis.Models.Mokupasi
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;
@{
    ViewData["Title"] = "Edit";
    ViewBag.ID = Context.Session.GetInt32("ID");
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">UBAH DATA OKUPASI</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <form asp-action="Edit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input asp-for="ISDELETED" hidden />
            <div class="position-relative row form-group">
                <label asp-for="KODEOKUPASI" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    <input asp-for="KODEOKUPASI" class="form-control" />
                    <span asp-validation-for="KODEOKUPASI" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="NAMAOKUPASI" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    <input asp-for="NAMAOKUPASI" class="form-control" />
                    <span asp-validation-for="NAMAOKUPASI" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="KELAS1" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    <input asp-for="KELAS1" class="form-control" />
                    <span asp-validation-for="KELAS1" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="KELAS2" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    <input asp-for="KELAS2" class="form-control" />
                    <span asp-validation-for="KELAS2" class="text-danger"></span>
                </div>
            </div>

            <div class="position-relative row form-group">
                <label asp-for="KELAS3" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    <input asp-for="KELAS3" class="form-control" />
                    <span asp-validation-for="KELAS3" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="RESIKO" class="col-sm-2 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.RESIKO, (IEnumerable<SelectListItem>)ViewBag.DDLResiko, "Pilih Resiko", new { @class = "form-control" })
                    <span asp-validation-for="RESIKO" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group" hidden>
                <label asp-for="UPDATEDTIME" class="col-sm-2 col-form-label"></label>
                <p style="color:red"> </p>
                <div class="col-sm-9">
                    <input asp-for="UPDATEDTIME" class="form-control" value="@DateTime.Now" />
                    <span asp-validation-for="UPDATEDTIME" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group" hidden>
                <label asp-for="UPDATEDBYID" class="col-sm-2 col-form-label"></label>
                <p style="color:red"> </p>
                <div class="col-sm-9">
                    <input asp-for="UPDATEDBYID" class="form-control"  value="@ViewBag.ID" />
                    <span asp-validation-for="UPDATEDBYID" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-check">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-save pull-right">Simpan</button>
                </div>
            </div>
        </form>
        <a asp-action="Index" class="btn btn-dark pull-left">Kembali</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
