﻿@*@model IEnumerable<Epolis.Models.Mokupasi>*@
@model IEnumerable<Epolis.Models.MokupasiVM>

@{
    ViewData["Title"] = "Index";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DAFTAR OKUPASI</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <div>
            <a asp-action="Create" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
        </div>
        <br />
        <table style="width: 100%;" id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>
                        @Html.DisplayNameFor(model => model.KODEOKUPASI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMAOKUPASI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KELAS1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KELAS2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KELAS3)
                    </th>
                    <th>
                        Resiko
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                    List<MokupasiVM> listMokupasi = (List<MokupasiVM>)ViewData["listMokupasi"];
                    if (listMokupasi != null)
                    {
                        foreach (var item in Model)
                        {
                                <tr>
                                    <td style="text-align:center">
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td  style="width: 15px;text-align: center">
                                        @Html.DisplayFor(modelItem => item.KODEOKUPASI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NAMAOKUPASI)
                                    </td>
                                    <td  style="width: 15px;text-align: center">
                                        @Html.DisplayFor(modelItem => item.KELAS1)
                                    </td>
                                    <td  style="width: 15px;text-align: center">
                                        @Html.DisplayFor(modelItem => item.KELAS2)
                                    </td>
                                    <td  style="width: 15px;text-align: center">
                                        @Html.DisplayFor(model => item.KELAS3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VALUE)
                                    </td>
                                    <td style="text-align:center">
                                        <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit"></a> |
                                        <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-detail fa fa-eye"></a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-delete fa fa-trash" onclick="return confirm('Hapus data ini?')"></a>
                                    </td>
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>