﻿@model IEnumerable<Epolis.Models.Mperusahaanasuransi>

@{
    ViewData["Title"] = "Index";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DAFTAR PERUSAHAAN ASURANSI</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <div>
            <a asp-action="Create" class="btn-lg btn-add fa fa-plus-square" data-toggle="tooltip" title="Tambah Baru"></a>
        </div>
        <br />
        <table style="width: 100%;" id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th >
                        @Html.DisplayNameFor(model => model.KODEPERUSAHAAN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMAPERUSAHAAN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CONTACTPERSON)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMAIL)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                    List<Mperusahaanasuransi> listMperusahaanasuransi = (List<Mperusahaanasuransi>)ViewData["listMperusahaanasuransi"];
                    if (listMperusahaanasuransi != null)
                    {
                        foreach (var item in listMperusahaanasuransi)
                        {
                            <tr>
                                <td style="text-align:center;width:10px">
                                    @{ sno++; }
                                    @sno
                                </td>
                                <td style="width: 15px;text-align: center">
                                    @Html.DisplayFor(modelItem => item.KODEPERUSAHAAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAMAPERUSAHAAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CONTACTPERSON)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EMAIL)
                                </td>
                                <td style="text-align:center">
                                    <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit" class="btn btn-edit fa fa-edit"></a> |
                                    <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" title="Lihat Detail" class="btn btn-detail fa fa-eye"></a> |
                                    <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Hapus" class="btn btn-delete fa fa-trash" onclick="return confirm('Hapus data ini?')"></a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>