﻿@model Epolis.Models.AllrelationVm


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
<style type="text/css">
    .selectt {
        color: #000000;
        padding: 30px;
        display: none;
        margin-top: 30px;
        width: 60%;
        background: white
    }

    label {
        margin-right: 20px;
    }
</style>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">TAMBAH DATA</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <form asp-action="Process" enctype="multipart/form-data" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Tpenutupan.ID" id="idPenutupan" name="idPenutupan" hidden />
            <input asp-for="Tbroker.ID" name="idPenutupan" hidden />
            <input asp-for="Mperusahaanasuransi.ID" name="idPenutupan" hidden />
            <input asp-for="Mjenisasuransi.ID" name="idPenutupan" hidden />
            <input asp-for="Mokupasi.ID" name="idPenutupan" hidden />
            <input asp-for="Tpenutupan.USERUNITBISNISID" hidden />
            <input asp-for="Tpenutupan.NOSKK" hidden />
            <input asp-for="Tpenutupan.NOSKKNOW" hidden />
            <input asp-for="Tpenutupan.tnasabahID" hidden />
            <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label">Broker yang berafiliasi dengan BNI</label>
                    <p style="color:white">*</p>
                    <div class="col-sm-2">
                        <input type="radio" value="0" name="kelompok">
                        <label>Ya</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="radio" name="kelompok" value="1">
                        <label>Tidak</label>
                    </div>
                </div>
            </div>
            <div class="card-shadow-primary border mb-lg-5 card card-body border-primary" id="divbody">
                <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                    <h5 class="card-title">Perincian</h5>
                    <div class="position-relative row form-group">
                        <label asp-for="Tpenutupan.NOREGPENUTUPAN" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tpenutupan.NOREGPENUTUPAN" class="form-control" readonly />
                            <span asp-validation-for="Tpenutupan.NOREGPENUTUPAN" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tpenutupan.ORDERDARIKOTA" class="col-sm-3 col-form-label"></label>
                        <p style="color:white">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tpenutupan.ORDERDARIKOTA" class="form-control" readonly />
                            <span asp-validation-for="Tpenutupan.ORDERDARIKOTA" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tpenutupan.TGLINPUT" class="col-sm-3 col-form-label"></label>
                        <p style="color:white">*</p>
                        <div class="col-sm-8">
                            <input class="form-control" value="@DateTime.Now" readonly />
                            <input asp-for="Tpenutupan.TGLINPUT" class="form-control" value="@DateTime.Now" hidden />
                            <span asp-validation-for="Tpenutupan.TGLINPUT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                    <h5 class="card-title">Permintaan Angsuran Pembayaran Premi</h5>
                    <div class="position-relative row form-group">
                        <label asp-for="Tpenutupan.PEMBAYARAN" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tpenutupan.PEMBAYARAN" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tpenutupan.JUMLAHANGSURAN" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tpenutupan.JUMLAHANGSURAN" class="form-control" readonly />
                            <span asp-validation-for="Tpenutupan.JUMLAHANGSURAN" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                    <h5 class="card-title">Jangka Waktu Pertanggungan</h5>
                    <div class="position-relative row form-group">
                        <label asp-for="Tpenutupan.JANGKAWAKTUMULAI" class="col-sm-1 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-3">
                            <input asp-for="Tpenutupan.JANGKAWAKTUMULAI" class="form-control" type="date" data-toggle="datepicker-icon" readonly />
                            <span asp-validation-for="Tpenutupan.JANGKAWAKTUMULAI" class="text-danger"></span>
                        </div>
                        <label asp-for="Tpenutupan.JANGKAWAKTUSELESAI" class="col-sm-1 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-3">
                            <input asp-for="Tpenutupan.JANGKAWAKTUSELESAI" class="form-control" type="date" data-toggle="datepicker-icon" readonly />
                            <span asp-validation-for="Tpenutupan.JANGKAWAKTUSELESAI" class="text-danger"></span>
                        </div>
                        <label asp-for="Tpenutupan.PERIODEBULAN" class="col-sm-2 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-1">
                            <input asp-for="Tpenutupan.PERIODEBULAN" class="form-control" readonly />
                            <span asp-validation-for="Tpenutupan.PERIODEBULAN" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Jenis Asuransi</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.Tbroker.MJENISASURANSIID, new SelectList(ViewBag.DDLJenisAsuransi, "Value", "Text"), "Pilih Jenis Asuransi", new { @class = "form-control", @id = "JenisAsuransi" })
                            <span asp-validation-for="Tbroker.MJENISASURANSIID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Perusahaan Asuransi</label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.Tbroker.MPERUSAHAANASURANSIID, new SelectList(ViewBag.DDLPerusahaanAsuransi, "Value", "Text"), "Pilih Perusahaan Asuransi", new { @class = "form-control", @id = "Asuransi" })
                            <span asp-validation-for="Tbroker.MPERUSAHAANASURANSIID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                    <h5 class="card-title">Dokumen</h5>
                    <input type="file" name="files" asp-for="Tfile.Data" class="form-control-file" />
                    <span asp-validation-for="Tfile.Data" class="text-danger"></span>
                </div>
                <div>
                    <button class="btn btn-primary pull-right">Simpan</button>
                </div>
            </div>

            <div class="card-shadow-primary border mb-lg-5 card card-body border-primary" id="divbroker">
                <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                    <h5 class="card-title">Perincian</h5>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.NAMABROKER" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.NAMABROKER" class="form-control" />
                            <span asp-validation-for="Tbroker.NAMABROKER" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.ALAMATBROKER" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <textarea asp-for="Tbroker.ALAMATBROKER" class="form-control"></textarea>
                            <span asp-validation-for="Tbroker.ALAMATBROKER" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.EMAILBROKER" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.EMAILBROKER" type="email" class="form-control" />
                            <span asp-validation-for="Tbroker.EMAILBROKER" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.TELEPONBROKER" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.TELEPONBROKER" class="form-control" />
                            <span asp-validation-for="Tbroker.TELEPONBROKER" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.NAMAASURADUR" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.NAMAASURADUR" class="form-control" />
                            <span asp-validation-for="Tbroker.NAMAASURADUR" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.ALAMATASURADUR" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <textarea asp-for="Tbroker.ALAMATASURADUR" class="form-control"></textarea>
                            <span asp-validation-for="Tbroker.ALAMATASURADUR" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.EMAILASURADUR" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.EMAILASURADUR" type="email" class="form-control" />
                            <span asp-validation-for="Tbroker.EMAILASURADUR" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.TELEPONASURADUR" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.TELEPONASURADUR" type="email" class="form-control" />
                            <span asp-validation-for="Tbroker.TELEPONASURADUR" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.CONTACTPERSONASURADUR" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.CONTACTPERSONASURADUR" type="email" class="form-control" />
                            <span asp-validation-for="Tbroker.CONTACTPERSONASURADUR" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.NOMINALCBC" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.NOMINALCBC" type="email" class="form-control" />
                            <span asp-validation-for="Tbroker.NOMINALCBC" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.RESIKO" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.RESIKO" type="email" class="form-control" />
                            <span asp-validation-for="Tbroker.RESIKO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.TANGGALMULAI" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.TANGGALMULAI" type="email" class="form-control" />
                            <span asp-validation-for="Tbroker.TANGGALMULAI" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Tbroker.TANGGALSELESAI" class="col-sm-3 col-form-label"></label>
                        <p style="color:red">*</p>
                        <div class="col-sm-8">
                            <input asp-for="Tbroker.TANGGALSELESAI" type="email" class="form-control" />
                            <span asp-validation-for="Tbroker.TANGGALSELESAI" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
                    <h5 class="card-title">Dokumen</h5>
                    <input type="file" name="files" asp-for="Tfile.Data" class="form-control-file" />
                    <span asp-validation-for="Tfile.Data" class="text-danger"></span>
                </div>
                <div>
                    <button class="btn btn-primary pull-right">Simpan</button>
                </div>
            </div>
        </form>
        </div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
            <script src="~/js/select2.min.js" asp-append-version="true"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#divbody").hide();
                    $("#divbroker").hide();

                    $('input[name="kelompok"]').click(function () {
                        if ($(this).attr("value") == "0")
                            $("#divbody").show();
                        else
                            $("#divbody").hide();
                    });

                    $('input[name="kelompok"]').click(function () {
                        if ($(this).attr("value") == "1")
                            $("#divbroker").show();
                        else
                            $("#divbroker").hide();
                    });
                });
            </script>


            <script>
                $(document).ready(function () {
                    $("#Asuransi").select2();
                    $("#JenisAsuransi").select2();
                });
            </script>


        }
