﻿@model Epolis.Models.Mpertanggungan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mpertanggungan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MOKUPASIID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MOKUPASIID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KODEPERTANGGUNGAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KODEPERTANGGUNGAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESKRIPSI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESKRIPSI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RATEPERTANGGUNGAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RATEPERTANGGUNGAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESIKO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESIKO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPDATEDBYID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPDATEDBYID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPDATEDTIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPDATEDTIME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISDELETED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISDELETED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DELETEDBYID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DELETEDBYID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DELETEDTIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DELETEDTIME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREATEDTIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREATEDTIME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREATEDBYID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREATEDBYID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
