﻿@model Epolis.Models.Mpertanggungan

@{
    ViewData["Title"] = "Details";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">DETAIL DATA PERTANGGUNGAN</div>
    </div>
</div>
<div class="main-card card col-12">
    <div class="card-body">
        <br />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MOKUPASIID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MOKUPASIID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KODEPERTANGGUNGAN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KODEPERTANGGUNGAN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DESKRIPSI)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DESKRIPSI)
            </dd>
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RATEPERTANGGUNGAN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RATEPERTANGGUNGAN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RESIKO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RESIKO)
            </dd>*@
        </dl>
    </div>
    <a asp-action="Index" class="btn btn-dark pull-left">Tutup</a>
    <br />
</div>