﻿@model Epolis.Models.ViewModelPenutupan

@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
            </div>
        </div>
        <div class="page-title-heading">Review Data Penutupan</div>
    </div>
</div>

<form asp-action="Save" autocomplete="off">
    <input type="hidden" asp-for="Tpenutupan.ID" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
        <h5 class="card-title">Perincian Order Penutupan</h5>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.JENISPENUTUPAN" class="col-sm-3 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-2">
                <input asp-for="Tpenutupan.JENISPENUTUPAN" type="radio" value="0">
                <label>Ya</label>
            </div>
            <div class="col-sm-2">
                <input asp-for="Tpenutupan.JENISPENUTUPAN" type="radio" value="1" checked>
                <label>Tidak</label>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.ISUPDATEPENUTUPANRENEWAL" class="col-sm-3 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-2">
                <input asp-for="Tpenutupan.ISUPDATEPENUTUPANRENEWAL" type="radio" value="0" checked>
                <label>Baru</label>
            </div>
            <div class="col-sm-2">
                <input asp-for="Tpenutupan.ISUPDATEPENUTUPANRENEWAL" type="radio" value="1">
                <label>Perpanjangan</label>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.NOREGPENUTUPAN" class="col-sm-3 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-8">
                <input asp-for="Tpenutupan.NOREGPENUTUPAN" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.NOREGPENUTUPAN" class="text-danger"></span>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.ORDERDARIKOTA" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-8">
                <input asp-for="Tpenutupan.ORDERDARIKOTA" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.ORDERDARIKOTA" class="text-danger"></span>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.TGLINPUT" class="col-sm-3 col-form-label"></label>
            <p style="color:red"></p>
            <div class="col-sm-8">
                <input class="form-control" value="@DateTime.Now" readonly />
                <input asp-for="Tpenutupan.TGLINPUT" class="form-control" value="@DateTime.Now" hidden />
                <span asp-validation-for="Tpenutupan.TGLINPUT" class="text-danger"></span>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.USERUNITBISNISID" class="col-sm-3 col-form-label"></label>
            <p style="color:red"></p>
            <div class="col-sm-8">
                <input asp-for="Tpenutupan.USERUNITBISNISID" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.USERUNITBISNISID" class="text-danger"></span>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.NOSKKNOW" class="col-sm-3 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-7">
                <input asp-for="Tpenutupan.NOSKKNOW" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.NOSKKNOW" class="text-danger"></span>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.NOSKK" class="col-sm-3 col-form-label"></label>
            <p style="color:red"></p>
            <div class="col-sm-8">
                <input asp-for="Tpenutupan.NOSKK" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.NOSKK" class="text-danger"></span>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.CIF" class="col-sm-3 col-form-label"></label>
            <p style="color:red"></p>
            <div class="col-sm-8">
                <input asp-for="Tpenutupan.CIF" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.CIF" class="text-danger"></span>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.tnasabahID" class="col-sm-3 col-form-label"></label>
            <p style="color:red"></p>
            <div class="col-sm-8">
                <input asp-for="Tpenutupan.tnasabahID" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.tnasabahID" class="text-danger"></span>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.BANKERSCLAUSE" class="col-sm-3 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-2">
                <input asp-for="Tpenutupan.BANKERSCLAUSE" type="radio" value=true checked>
                <label>Ya</label>
            </div>
            <div class="col-sm-2">
                <input asp-for="Tpenutupan.BANKERSCLAUSE" type="radio" value=false>
                <label>Tidak</label>
            </div>
        </div>
    </div>
    <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
        <h5 class="card-title">Permintaan Angsuran Pembayaran Premi</h5>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.PEMBAYARAN" class="col-sm-3 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-8">
                <input asp-for="Tpenutupan.PEMBAYARAN" class="form-control" readonly />
            </div>
        </div>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.JUMLAHANGSURAN" class="col-sm-3 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-8">
                <input asp-for="Tpenutupan.JUMLAHANGSURAN" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.JUMLAHANGSURAN" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
        <h5 class="card-title">Jangka Waktu Pertanggungan</h5>
        <div class="position-relative row form-group">
            <label asp-for="Tpenutupan.JANGKAWAKTUMULAI" class="col-sm-1 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-3">
                <input asp-for="Tpenutupan.JANGKAWAKTUMULAI" class="form-control" type="date" data-toggle="datepicker-icon" readonly />
                <span asp-validation-for="Tpenutupan.JANGKAWAKTUMULAI" class="text-danger"></span>
            </div>
            <label asp-for="Tpenutupan.JANGKAWAKTUSELESAI" class="col-sm-1 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-3">
                <input asp-for="Tpenutupan.JANGKAWAKTUSELESAI" class="form-control" type="date" data-toggle="datepicker-icon" readonly />
                <span asp-validation-for="Tpenutupan.JANGKAWAKTUSELESAI" class="text-danger"></span>
            </div>
            <label asp-for="Tpenutupan.PERIODEBULAN" class="col-sm-1 col-form-label"></label>
            <p style="color:red">*</p>
            <div class="col-sm-2">
                <input asp-for="Tpenutupan.PERIODEBULAN" class="form-control" readonly />
                <span asp-validation-for="Tpenutupan.PERIODEBULAN" class="text-danger"></span>
            </div>
        </div>
        <div id="exampleAccordion" data-children=".item">
            <div class="position-relative row form-group">
                <label asp-for="Tpenutupan.ISBROKER" class="col-sm-3 col-form-label"></label>
                <p style="color:red">*</p>
                <div class="col-sm-2">
                    <input asp-for="Tpenutupan.ISBROKER" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample" type="radio" id="asuransi" name="ISBROKER" value=false checked>
                    <label for="asuransi">Asuransi</label>
                </div>
            </div>
        </div>
    </div>

    <div class="card-shadow-primary border mb-lg-5 card card-body border-primary">
        <h5 class="card-title">Catatan</h5>
        <div class="form-group">
            <input asp-for="Tcatatan.CATATAN" class="form-control" />
        </div>

        <div class="form-group">
            <div class="main-card card col-12">
                <div class="card-body">
                    <div>
                        Catatan
                    </div>
                    <br />
                    <table style="width: 100%;" id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tcatatan.CATATAN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tcatatan.CREATEDBYID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tcatatan.CREATEDTIME)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int sno = 0;
                            }
                            @foreach (var item in Model.Tcatatans)
                            {
                                <tr>
                                    <td style="text-align:center">
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CATATAN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CREATEDBYID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CREATEDTIME)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Keputusan</label>
            <input asp-for="Tpenutupan.STATUS" type="radio" value="19" />Approve
            <input asp-for="Tpenutupan.STATUS" type="radio" value="17" />Decline
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            var inputValue = $(this).attr("id");
            var targetBox = $("." + inputValue);
            $(".selectt").not(targetBox).hide();
            $(targetBox).show();
        });
        $(function () {
            $(".datepicker").datepicker(
                { dateFormat: 'dd-MM-yyyy' });
        });
        $("#divCicilan").hide();
        $("#cbPaymenttype").change(function () {
            var paymentType = $(this).find('option:selected').val();
            if (paymentType != "Full") {
                $("#divCicilan").slideDown();
            } else {
                $("#divCicilan").slideUp();
            }
        });
    });

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
